h2 {
  margin: 1rem auto 2rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}
.cover-photo {
  height: 100vh;
}

.intro-content {
  img {
    width: 85%;
  }
}

.wave-bg-inv {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  transform: rotateX(180deg);
}
.wave-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.section-blue {
  background: #092b86;
  color: #fff;
  position: relative;
  padding-top: 100px;
}

.gradient-bg {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: bottom center;
  display: flex;
  align-items: center;
}

.page-title {
  min-height: 90vh;
  margin-top: -105vh;
  display: flex;
  align-items: center;
  padding: 0;

  h1 {
    font-size: 5.5rem;
    letter-spacing: -0.3rem;
    position: relative;
    z-index: 10;
    font-weight: 500;
  }
  h1,
  h3 {
    color: #fff;
  }
  h3 {
    max-width: 550px;
  }

h3,
h4,
h5 {
  font-weight: 500;
  color: #fff;
}
}

.half-width-text {
  max-width: 600px;
}

.section-intro {
  padding: 0 ;
}
@media screen and (max-width:1024px){
  .cover-photo{
    height: 55vh;
  }
  .page-title{
    min-height: 55vh;
    margin-top: -62vh;
  }
}
@media screen and (max-width: 991px) {
  .cover-photo {
    height: 70vh;
  }
  .page-title {
    min-height: 70vh;
    margin-top: -75vh;
    h1 {
      text-align: center;
      font-size: 4rem;
      letter-spacing: -0.25rem;
    }
    h3,h5 {
      margin: auto;
      text-align: center;
    }
  }
  .img-wrap {
    text-align: center;
    img {
      max-width: 400px;
    }
  }
}
@media screen and (max-width: 576px) {
  .cover-photo {
    height: 70vh;

    .wave {
      bottom: -55%;
      background-position: center;
    }
  }
  .page-title {
    min-height:70vh;
    margin-top: -75vh;

    h1{
      font-size: 3.2rem;
      letter-spacing: -0.2rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .page-title {
    h1 {
      font-size: 2.8rem;
      letter-spacing: -0.15rem;

      span{
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .page-title {
    h1 {
      font-size: 2.5rem;
      letter-spacing: -0.15rem;

      span{
        font-size: 2.2rem;
      }
    }
  }
}
