<section class="category-landing-section">
  <div class="my-container">
    <h2 class="text-center">
      <a routerLink="/onewaterblog">OneWater Blogs</a> /
      <span class="text-blue">
        {{catName}}
      </span>
    </h2>

    <div class="category-blogs">
      <div class="row justify-content-center">
        <div class="col-xl-6" *ngIf="!categoryBlogs.length">
          <div class="no-data-card">
            <div class="row justify-content-center">
              <div class="col-md-6 col-sm-8 col-10">
                <img src="assets/img/not-found.svg" alt="not found">

              </div>
            </div>

            <h4 class="text-center">
              No blogs posted to this category yet. 
            </h4>
          </div>
        </div>
        <div class="col-xl-6 col-lg-10" *ngFor="let item of categoryBlogs">
          <a [routerLink]="['/onewaterblog/blogpost', item?.id]">
            <div class="blog-card blog-card-featured" >
              <div class="blog-img">
                <img [src]="item?.thumbnail" alt="blog" />
              </div>
              <div class="blog-content">
                <h6 class="text-600">
                  <span class="blog-category">
                    {{ item?.category }}
                  </span>
                  -
                  <span class="blog-date">
                    {{ item?.dateAdded | date: 'MMMM d, y' }}
                  </span>
                </h6>
  
                <h5 class="blog-title mt-0">
                  {{ item?.title | shorten: 70 }}
                </h5>

               
  
              
  

                <div>
                  <div class="blog-author blog-author-small mt-0">
                    <img [src]="item?.authorImg" alt="" class="blog-author-img">
      
                    <h6 class="blog-author-name">
                      {{item?.author}}
                    </h6>
                  </div>
                  <div
                  class="d-flex align-items-center justify-content-between mt-2"
                >
                  <h6 class="blog-read">
                    <span class="icon">
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span>
  
                    {{ item?.readingTime }} mins read
                  </h6>
  
                  <a class="btn-dark btn-sm blog-btn mt-0" [routerLink]="['/onewaterblog/blogpost', item?.id]"> Read more </a>
                </div>
                </div>
               
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/img/white-wave-2.svg" alt="img" class="bottom-wave" />

</section>

<section class="other-categories">
  <div class="container">
    <h2 class="text-center">Explore other categories</h2>
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-10">
        <div class="category-container">
          <div class="row justify-content-center">
            <div
              class="text-center col-md-3 col-sm-4 col-6"
              *ngFor="let item of categories"
            >
              <a [routerLink]="['/onewaterblog/category',item?.id]">
                <div class="category-card">
                  <img [src]="item.img" alt="" />
                  <h6>
                    {{ item.name }}
                  </h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>