<div class="category-wrap">
    <div class="container">
    <div class="category-head">
      <h1> {{category | titlecase}}
      </h1>
    </div>
    <section class="top-videos">
       
            <div class="row">
                <div class="col-lg-8 ">
                    <div class="vod">
                    <a [routerLink]="['/onewatertalks/singlevideo/',likesvideos?._id]" title="{{likesvideos?.title}}">
                        <div class="thumbnail-card card-shadow">
                        <div class="thumb-img">
                          <img [src]="likesvideos?.image" alt="">
                          <div class="hover-play">
                            <i class="fa fa-play-circle" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      </a>
                      <a [routerLink]="['/onewatertalks/singlevideo/',likesvideos?._id]" class="hover-black">
                        <div class="thumb-caption-big">
                            <div class="video-name">
                              <h3>{{likesvideos?.title}}</h3>
                            </div>
                            <h6 class="video-desc">
                                {{likesvideos?.desc}}
                            </h6>
                            <div class="video-metadata">
                              <div class="row">
                                <div class="col-6"><div class="views">{{likesvideos?.views | number}} views</div></div>
                              <div class="col-6 text-right"><div class="date">{{likesvideos?.date_added | date:'MMMM d, y'}}</div></div>
                              </div>
                            </div>
                          </div>
                      </a>

                      </div>
                </div>
                <div class="col-lg-4">
                  <div class="sidebar-videos">
                  <h2 style="margin-top: 0;">
                    Latest from {{category | titlecase}}
                  </h2>
                   
                      <div class="row justify-content-center">
                        <div
                          class="col-lg-12 col-md-6 col-sm-12"
                          *ngFor="let video of featuredvideos"
                        >
                        <div class="thumbnail-card card-shadow">
                          <a
                            [routerLink]="['/onewatertalks/singlevideo/', video._id]"
                            title="{{ video?.title }}"
                          >
                          <div class="row">
                            <div class="col-5 no-gutter">
                              <div class="thumb-img">
                                <img [src]="video?.image" alt="" />
                                <div class="hover-play">
                                  <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-7 no-gutter">
                              <div class="thumb-caption">
                                <div class="video-name">
                                  <h3>{{ video?.title |shorten:35 }}</h3>
                                </div>
                                <!-- <div class="channel">
                                  John Wick
                                </div> -->
                                <div class="video-metadata">
                                      <div class="views">{{ video?.views | number}} views</div>
                                      <div class="date">
                                        {{ video?.date_added | date: "MMMM d, y" }}
                                      </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          </a>
                        </div>
                        </div>
                       
                      </div>
                </div>
            </div>
        </div>
       
        </section>

        <section class="video-section all-videos">
            <section class="">
                <h2 class="text-center">More videos from Water</h2>

              <div class="row">

                    <div class="col-lg-4 col-md-6" *ngFor="let video of latestvideos">
                      <a [routerLink]="['/onewatertalks/singlevideo/', video._id]" title="{{video?.title}}">
                          <div class="thumbnail-card card-shadow">
                              <div class="thumb-img">
                                <img [src]="video.image" alt="">
                                <div class="hover-play">
                                  <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </div>
                              </div>
                              <div class="thumb-caption">
                                <div class="video-name">
                                  <h5>{{video?.title | shorten:35}}</h5>
                                </div>
                                <div class="video-metadata">
                                <div class="views">{{video?.views | number}} views</div>
                                 <div class="date">{{video?.date_added | date:'MMMM d, y'}}</div>
                                </div>
                              </div>
                            </div>
                      </a>
                      </div>

                      <div class="d-flex justify-content-end mt-2">
                        <a [routerLink]="['/onewatertalks/video-category']">

                        </a>
                      </div>
                </div>
            </section>
            </section>
    </div>
    </div>
