<div class="cover-photo">
  <img src="{{ author?.image }}" alt="" class="author-image" />
  <div class="wave"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="author-detail">
        <h1 class="author-name">
          {{ author?.name | titlecase }}
        </h1>
        <div class="author-stats">
          <div class="row justify-content-center">
            <div class="col-md-4 col-4">
              <img src="assets/img/icons/map.svg" alt="" />
              <p>
                From <strong>{{ author?.location | titlecase }}</strong>
              </p>
            </div>
            <div class="col-md-4 col-4">
              <img src="assets/img/icons/followers.svg" alt="" />
              <p>
                <strong>{{ author?.approved_blogs_added.length }}</strong> blogs
                posted
              </p>
            </div>
          </div>
        </div>
        <div class="about-author">
          <h3>
            About Author
          </h3>
          <p class="text-justify">
            {{ author?.bio }}
          </p>
        </div>
        <div class="author-contact" *ngIf="author?.linkedIn_id != 'null' || author?.twitter_id != 'null'">
          <h3>Also available at :</h3>
          <div class="social-media">
            <a
              *ngIf="author?.linkedIn_id != 'null'"
              href="{{ author?.linkedIn_id }}"
              target="_blank"
              ><img src="assets/img/icons/linkedin.svg" alt=""
            /></a>
            <a
              *ngIf="author?.twitter_id! != 'null'"
              href="{{ author?.twitter_id }}"
              target="_blank"
            >
              <img src="assets/img/icons/twitter.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="side-block">
        <h3>Articles by Author</h3>
        <div class="text-center" *ngIf="!authorblogs?.length">
          <h5 style="color: #777;">
            This author has not posted any blog yet.
          </h5>
        </div>
        <div class="row justify-content-center" *ngIf="authorblogs?.length">
          <div
            class="col-lg-12 col-md-4 col-sm-12"
            *ngFor="let blog of authorblogs"
          >
            <div class="outer-card">
              <div class="outer-overlay"></div>
              <div class="two-card">
                <img src="{{ blog.image }}" alt="" />
                <div class="blog-caption">
                  <a [routerLink]="['/onewaterblog/blogpost', blog._id]">
                    <h5>{{ blog.title }}</h5>
                  </a>
                  <div class="blog-meta-data">
                    <!-- <div class="author">
              By {{blog.author}}
            </div> -->
                    <div class="likes" *ngIf="blog?.likecount">
                      <i class="fa fa-heart"></i>{{ blog.likecount }}
                    </div>
                    <div class="read">{{ blog.read_time }} mins</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
