<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Meet Our Partners
    </h1>
  </div>
</section>

<section class="partners-section">
  <!-- <h1 class="text-center"> Partners</h1> -->
  <div class="partners">
    <div class="container">

      <h3 class="partner-heading">Founding Partners</h3>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://www.resilientutilities.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/RUC.jpg" alt="" class="short-logo"/>
          </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.carollo.com/home" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/Carollo.png" alt="" />
          </div>
          </div>
        </a>
        </div>

       

      </div>
    </div>
  </div>
  <div class="partners">
    <div class="container">
      <h3 class="partner-heading">Premier Partners</h3>
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://www.resilientutilities.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/RUC.jpg" alt="" class="short-logo"/>
          </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.carollo.com/home" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/Carollo.png" alt="" />
          </div>
          </div>
        </a>
        </div>
       
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.arup.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/arup.jpg" alt="" />
          </div>
          </div>
        </a>
        </div>


      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container">
      <h3 class="partner-heading"> Collaborating Partners</h3>
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.xylem.com/en-us/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="assets/img/partners/xylem.png" alt="" />
          </div>
          </div>
        </a>
        </div>
        

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://nova-consulting.com/" target="_blank"> 
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4 class="text-center">
          <img src="assets/img/partners/NOVA.png" alt=""/>
         </h4>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.300engineering.com/" target="_blank"> 
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4 class="text-center">
          <img src="assets/img/partners/300.png" alt="" />
         </h4>
          </div>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.radise.com/" target="_blank"> 
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4 class="text-center">
          <img src="assets/img/partners/radise.png" alt="" class="tiny-logo"/>
         </h4>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.bv.com/" target="_blank"> 
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4 class="text-center">
          <img src="assets/img/partners/bv.png" alt="" class="short-logo" />

         </h4>
          </div>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.burnsmcd.com/" target="_blank"> 
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4 class="text-center">
          <img src="assets/img/partners/bm.png" alt="" style="filter:brightness(0)" />

         </h4>
          </div>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://www.brownandcaldwell.com/" target="_blank"> 
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4 class="text-center">
          <img src="assets/img/partners/bc.png" alt="" class="short-logo" />

         </h4>
          </div>
          </div>
        </a>
        </div>
        

      </div>
    </div>
  </div>


  <div class="partners">
    <div class="container">
      <h3 class="partner-heading">Subscribers</h3>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://theh2otower.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/gwin.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://hsqgroupinc.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/hsq-group-logo.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.idrica.com/goaigua/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/logo goaigua alta.png" alt=""/>
          </div>
          </div>
        </a>
        </div>
       
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.osisoft.com/" target="_blank">
          <div class="outer-card">
          <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/osi.png" alt="" class="short-logo" />
          </div>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://programcontrolsinc.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/pci.png" alt="" class="short-logo" />
          </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>


  <div class="partners">
    <div class="container">
      <h3 class="partner-heading">Supporters</h3>
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://gca.org/home" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/gcn.png" alt="" class="tiny-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.resilienceshift.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/trs.png" alt=""  style="width: 100%;max-height: 75px;"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.swan-forum.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/swan-2016B.jpg" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://bulletin.miami.edu/graduate-academic-programs/engineering/civil-architectural-environmental-engineering/construction-management-ms/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/coe.jpg" alt="" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://engagement.fiu.edu/" target="_blank" >
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4>
          <img src="assets/img/partners/fiu.png" alt="" class="short-logo" />
         </h4>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.miamichamber.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4>
          <img src="assets/img/partners/gmcc.png" alt="" class="short-logo" />
         </h4>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://www.wrc.org.za/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/wrc.jpg" alt="" class="tiny-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://evergladesfoundation.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/everglades.jpg" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.cleoinstitute.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/cleo.jpg" alt="" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.icex.es/icex/es/index.html#" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/icex.png" alt=""  />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.netherlandsandyou.nl/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/NL.png" alt="" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <h4>
            <img src="assets/img/partners/canadian.png" alt="" class="short-logo" />
          </h4>
          </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.resilienth2opartners.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/rh2o.png" alt="" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.stimson.org/project/acre/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/acrelogo.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://globalwaterworks.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/gww.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://waterrisinginstitute.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/wr.png" alt="" class="tiny-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.swim.cee.vt.edu/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/swim.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

       

      </div>
    
       
    </div>
  </div>

  <div class="block-5a"></div>
  <div class="block-6a"></div>
  <div class="block-6"></div>
  <div class="donate-circle"></div>
  <div class="donate-block-2"></div>
  <div class="donate-circle-small"></div>
</section>