/*header styles*/
header {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.logo img {
  width: 90px;
  -webkit-filter: invert(1) brightness(10);
          filter: invert(1) brightness(10);
  -webkit-transition: all 0s;
  transition: all 0s;
}

.menu {
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: 0;
}

.menu .navlink:last-of-type {
  margin-right: 0;
}

.menu .navlink {
  display: inline-block;
  margin: 0 12px;
}

.menu .navlink a {
  color: #fff;
  font-weight: 600;
  letter-spacing: -0.02rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.menu .navlink a::after {
  content: "";
  height: 1.5px;
  background-color: #fff;
  position: absolute;
  bottom: -4px;
  width: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
}

.menu .navlink a:hover::after {
  width: 100%;
}

/*fixed header style*/
.fixed-header {
  background-color: rgba(255, 255, 255, 0.97);
  -webkit-box-shadow: 0 2px 4px 0 rgba(110, 110, 110, 0.15);
          box-shadow: 0 2px 4px 0 rgba(110, 110, 110, 0.15);
  height: 70px;
}

.fixed-header .logo img {
  -webkit-filter: none;
          filter: none;
}

.fixed-header .menu .navlink a {
  color: #000461;
}

.fixed-header .menu .navlink a::after {
  background-color: #000461;
}

/*hamburger style*/
.hamburger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5vw;
  width: 25px;
  height: 20px;
  display: none;
  z-index: 1001;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  margin: 0;
  width: 25px;
  background-color: #fff;
  position: relative;
  display: block;
  border-radius: 1.5px;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media all and (max-width: 1091px) {
  header {
    height: 70px;
  }
  header .logo {
    z-index: 1000;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: fixed;
    left: 0;
    margin: 0;
    top: 0;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: white;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .menu .navlink {
    margin: 8px 0;
  }
  .menu .navlink a {
    color: #000461;
  }
  .menu .navlink a::after {
    background-color: #000461;
  }
  .fixed-header .hamburger span {
    background-color: #000461;
  }
  /*class to add when hamburger is clicked*/
  .menu.show-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .logo.mobile-logo img {
    -webkit-filter: none;
            filter: none;
  }
  .hamburger.clicked span {
    background-color: #000461;
  }
  .hamburger.clicked span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translateY(12px);
            transform: rotate(-45deg) translateY(12px);
  }
  .hamburger.clicked span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.clicked span:nth-child(3) {
    -webkit-transform: rotate(45deg) translateY(-12px);
            transform: rotate(45deg) translateY(-12px);
  }
}

@media all and (max-width: 480px) {
  header, .fixed-header {
    height: 60px;
  }
  .logo img {
    width: 80px;
  }
}

/*class to add when the top of page is white*/
.black-header .logo img {
  -webkit-filter: none;
          filter: none;
}

.black-header .menu .navlink a {
  color: #000;
}

.black-header .menu .navlink a::after {
  background-color: #000;
}

.black-header .hamburger span {
  background-color: #000;
}
/*# sourceMappingURL=header.component.css.map */