/*header styles*/
@import '../../commonstyles/modal-styles.scss';
@import '../../commonstyles/form-styles.scss';

header{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3vw;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.logo{
    img{
        width: 90px;
        filter: invert(1) brightness(10);
        transition: all 0s;
    }
}

.menu {
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 0;
  
    .navlink{
        display: inline-block;
        margin:0 12px;
        a{
            color: #fff;
            font-weight: 600;
            letter-spacing: -0.02rem;
            transition: all 0.3s ease-in-out;
            position: relative;
        }
        a::after{
            content: "";
            height: 1.5px;
            background-color: #fff;
            position: absolute;
            bottom: -4px;
            width: 0;
            left: 0;
            transition: all .3s;
            display: block;
        }
        a:hover::after{
            width:100%;
        }
    }
}

/*fixed header style*/
.fixed-header{
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 2px 4px 0 rgba(110, 110, 110, 0.15);
    height: 70px;

    .logo img{
        filter: none;
    }

    .platform-dd{
        color: #000461;
    }

    .menu{
        .navlink{
            a{
                color: #000461;
            }
            a::after{
                background-color: #000461;
            }
        }
    }
}

/*hamburger style*/

.hamburger{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5vw;
    width: 25px;
    height: 20px;
    display: none;
    z-index: 1001;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span{
        height: 3px;
        margin: 0;
        width: 25px;
        background-color: #fff;
        position: relative;
        display: block;
        border-radius: 1.5px;
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}


.dropdown-btn{
    position: relative;
    img{
       width: 30px;

        cursor: pointer;
    }

    .dropdown-content{
        position: absolute;
        display: block;
        left: 0;
        width: 220px;
        z-index:50;
        background-color: #fff;
        top: 100%;
        padding: 1rem 1rem 0.5rem;
        border-radius: 5px;
        display: none;
        transition:all 0.3s ease-in-out;
        animation: pop_up 0.2s ease-in-out forwards;
       
        li{
            display: block;
        }
        a{
        color: #000 !important;
        display: block;
        margin: 0 0 0.5rem;
        font-weight: 700;
        img{
            width: 20px;
            margin-right: 10px;
        }
        }
          
        a::after{
            background: none !important;
        }
        a:hover{
            color: #0041a3 !important;
        }
    }
}

#connect{
    width: 180px;
}
#loginPanel{
    width: 135px;
}
#about{
    width: 200px;
}
.mobile-dropdown{
    display: none;
    margin-right: 50px;

    .dropdown-content{
        width: 150px;
    }


 }
.dd-head{
    background-color: #0003611c;
    color: #000461;
    padding: 4px 8px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
}
 @media all and (min-width:1091px){
    .dropdown-btn:hover .dropdown-content{
        display: block;
     }
 }
   
.platform-dd{
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.desktop-dd{
    .dropdown-content{
        right: 0;
        width: 130px;
        padding: 0;
        left: auto;

        a{
            padding:0 1rem 0.5rem;
        }
    }
}

@media all and (max-width:1091px){
    header{
        height: 70px;
        .logo{
            z-index: 1000;
        }
    }

    .dropdown-content{
        position: relative !important;
        box-shadow: none;
        
        margin: auto;
    }

    .desktop-dd{
        display: none;
    }
    
    .hamburger{
        display: flex;
    }

    .platform-dd{
        color: #000461;
    }
    .mobile-dropdown{
       display: block;
       .dropdown-content{
           position: absolute !important;
           right: 0;
           left: auto;
       }
    }
    .visible{
        visibility: visible;
    }
    .menu{
    position: fixed;
    left: 0;
    margin: 0;
    top: 0;
    height: 100vh;
    overflow-y: scroll;
   
    width: 100%;
    padding:15vh 0;
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    .navlink{
        display: block;
        padding: 0.8rem 0;
        text-align: center;
        a{
            color: #000461;
        }
        a::after{
            background-color: #000461;
        }
    }
    }
    .fixed-header{
        .hamburger{
            span{
                background-color: #000461;
            }
        }
    }

    /*class to add when hamburger is clicked*/
.menu.show-menu{
    transform: translateX(0);
}
.logo.mobile-logo{
    img {
        filter:none;
    }
}
.hamburger.clicked{
    span{
        background-color: #000461;
    }
    span:nth-child(1){
        transform: rotate(-45deg) translateY(12px);
    }
    span:nth-child(2){
        opacity: 0;
    }
    span:nth-child(3){
        transform: rotate(45deg) translateY(-12px);
    }
}

}

@media all and (max-width:576px){
    header,.fixed-header{
        height: 60px;
    }
    .logo{
        img{
            width: 80px;
        }
    }

}

/*class to add when the top of page is white*/
.black-header{
    .logo{
        img{
            filter: none;
        }
    }
    .platform-dd{
        color: #000;
    }
    .menu .navlink {
        a{
            color: #000;
        }
        a::after{
            background-color: #000;
        }
        
    }
    .hamburger span{
        background-color: #000;
    }
}

