<div class="overlay"></div>
<header>
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/img/ow-logo1.png" alt="" />
    </a>
  </div>
  <nav>
    <ul class="menu">

      <li class="navlink"><a routerLink="/">Home</a></li>

      <li class="navlink" >
        <div class="dropdown-btn platform-dd"  (click)="toggleDropdown('about')">
          About <i class="fa fa-caret-down" aria-hidden="true"></i>
          <div class="dropdown-content card-shadow" id="about">
            <li class="navlink"><a routerLink="/purpose">Our Purpose</a></li>
            <li class="navlink"><a routerLink="/team">Meet the Team</a></li>
          </div>
        </div>
      </li>

      <!-- <li class="navlink" >
        <div class="dropdown-btn platform-dd"  (click)="toggleDropdown('platforms')">
          OneWater Academy <i class="fa fa-caret-down" aria-hidden="true"></i>
          <div class="dropdown-content card-shadow" id="platforms">
            <li class="navlink"><a routerLink="/home/leaders">OneWater Leaders</a></li>
            <li class="navlink"><a routerLink="/home/learningacademy">OneWater Xchange</a></li>
            <li class="navlink"><a routerLink="/home/owx">OneWater Xchange</a></li>
            <li class="navlink"><a routerLink="/onewaterblog">OneWater Blogs</a></li>
            <li class="navlink"><a routerLink="/onewatertalks">OneWater Talks</a></li>
          </div>
        </div>
      </li> -->

      <li class="navlink"><a routerLink="/learningacademy">OneWater Xchange</a></li>
            <li class="navlink"><a routerLink="/onewaterblog">OneWater Blogs</a></li>
            <li class="navlink"><a routerLink="/onewatertalks">OneWater Talks</a></li>

      <!-- <li class="navlink"><a routerLink="/home/cro-page">The CROs</a></li> -->
      <!-- <li class="navlink"><a routerLink="/home/events">Events </a></li> -->

      <li class="navlink" >
        <div class="dropdown-btn platform-dd"  (click)="toggleDropdown('connect')">
          Connect with Us <i class="fa fa-caret-down" aria-hidden="true"></i>
          <div class="dropdown-content card-shadow" id="connect">
            <li class="navlink"><a (click)="modal.openModal('#subscribeModal')" style="cursor: pointer;">Subscribe</a></li>
            <li class="navlink"><a routerLink="/contact">Contact Us</a></li>
          </div>
        </div>
      </li>

      <li class="navlink"><a routerLink="/give">Give</a></li>

      <!--new author signup login button-->
      <li *ngIf="!author.loggedIn && isBlog" class="navlink">
        <a
        [routerLink]="['/onewaterblog/author/login']"
        >
         Login
        </a>
      </li>
      <li *ngIf="!author.loggedIn && isBlog" class="navlink">
        <a  [routerLink]="['/onewaterblog/author/signup']">
          Sign Up
        </a>
      </li>

      <!--old signup btn when both user and auhtor were available on platform-->
      <!-- <li *ngIf="!(auth.isLoggedIn || author.loggedIn)" class="navlink">
        <a
        routerLink="/login-role"
        >
         Login
        </a>
      </li>
      <li *ngIf="!(auth.isLoggedIn || author.loggedIn)" class="navlink">
        <a routerLink="/signup-role">
          Sign Up
        </a>
      </li> -->

      <!--show user dashboard button-->
      <!-- <li *ngIf="auth.isLoggedIn && !(author.loggedIn && auth.isLoggedIn)" class="navlink">
        <div class="dropdown-btn desktop-dd">
          <img src="assets/img/icons/avatar1.svg" alt="" />
          <div class="dropdown-content card-shadow">
            <div class="dd-head">
              User
            </div>
            <a [routerLink]="['/user-admin']">
             Dashboard</a
            >
            <a (click)="logout()">
             Logout
            </a>
          </div>
        </div>
      </li> -->

      <!--show author dashboard button-->
      <li *ngIf="author.loggedIn && !(author.loggedIn && auth.isLoggedIn)" class="navlink">
        <div class="dropdown-btn desktop-dd">
          <img src="assets/img/icons/avatar1.svg" alt="" />
          <div class="dropdown-content card-shadow">
            <div class="dd-head">
              Author
            </div>
            <a [routerLink]="['/author']">
             Dashboard</a
            >
            <a (click)="logoutAuthor()">
             Logout
            </a>
          </div>
        </div>
      </li>

      <!--show both user and author dashboard button-->
      <!-- <li *ngIf="author.loggedIn && auth.isLoggedIn" class="navlink">
        <div class="dropdown-btn desktop-dd">
          <img src="assets/img/icons/avatar1.svg" alt="" />
          <div class="dropdown-content card-shadow">
            <div class="dd-head">
              Dashboards
            </div>
            <a [routerLink]="['/author']">
             Author Dashboard</a
            >
            <a [routerLink]="['/user-admin']">
              User Dashboard</a
             >
          </div>
        </div>
      </li> -->

    </ul>
  </nav>

  <div
    *ngIf="auth.isLoggedIn && !(author.loggedIn && auth.isLoggedIn)"
    class="mobile-dropdown dropdown-btn"
    id="userButton"
    (click)="toggleDropdown('userPanel')"
  >
    <img src="assets/img/icons/avatar1.svg" alt="" />
    <div class="dropdown-content user-panel card-shadow" id="userPanel">
      <div class="dd-head">
        User
      </div>
      <a [routerLink]="['/user-admin']">
        Dashboard</a>
      <a
        (click)="logout()"
        >  Logout
      </a>
    </div>
  </div>

  <div
  *ngIf="author.loggedIn && !(author.loggedIn && auth.isLoggedIn)"
  class="mobile-dropdown dropdown-btn"
  id="userButton"
  (click)="toggleDropdown('userPanel1')"
>
  <img src="assets/img/icons/avatar1.svg" alt="" />
  <div class="dropdown-content user-panel card-shadow" id="userPanel1">
    <div class="dd-head">
      Author
    </div>
    <a [routerLink]="['/author']">
      Dashboard</a>
    <a
      (click)="logoutAuthor()"
      >  Logout
    </a>
  </div>
</div>

<div
*ngIf="author.loggedIn && auth.isLoggedIn"
class="mobile-dropdown dropdown-btn"
id="userButton"
(click)="toggleDropdown('userPanel2')"
>
<img src="assets/img/icons/avatar1.svg" alt="" />
<div class="dropdown-content user-panel card-shadow" id="userPanel2">
  <div class="dd-head">
    Dashboards
  </div>
  <a [routerLink]="['/author']">
   Author Dashboard</a
  >
  <a [routerLink]="['/user-admin']">
    User Dashboard</a
   >
</div>
</div>

  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>

<!--------------------Modals------------------>
<!-- Modal for newsletter -->
<div
  class="modal fade modal-no-animate"
  id="subscribeModal"
  role="dialog"
  #subscribeModal
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(subscribeModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="" />
        </div>

        <img
          src="assets/img/modals/newsletter-modal.png
           "
          alt=""
        />
        <h2>Share your email to stay tuned with OneWater Academy’s updates </h2>
        <form [formGroup]="form">
          <input
            name="firstname"
            formControlName="firstname"
            class="vldform__textbox"
            type="text"
            placeholder="First Name"
            required
          />
          <p *ngIf="submited && form.get('firstname').invalid">Enter Your First Name</p>
          <input
          name="lastname"
          formControlName="lastname"
          class="vldform__textbox"
          type="text"
          placeholder="Last Name"
          required
        />
        <p *ngIf="submited && form.get('lastname').invalid">Enter Your Last Name</p>
          <input
            name="email"
            formControlName="email"
            class="vldform__textbox"
            type="email"
            placeholder="Email"
            required
          />


          <div *ngIf="submited && form.get('email').invalid">
            <p *ngIf="form.get('email').errors.required">
              Please enter your email!
            </p>
            <p *ngIf="form.get('email').errors.email">
              Please enter a valid email!
            </p>
          </div>

          <button
            type="submit"
            (click)="modal.showBtnLoader()"
            (click)="subscribe()"
            class="btn btn-default"
          >
            <span class="btn-loading-content">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
            <span class="btn-default-content">
              Submit
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal after user subscribe to newsletter -->
<div class="modal fade" id="thanksmodal" role="dialog" #thanksmodal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          (click)="modal.closeModal(thanksmodal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="" />
        </div>

        <img
          src="assets/img/icons/thankful.svg
         "
          alt=""
          style="width:35%; margin:auto;"
        />
        <h2>Welcome! You will now have access to a weekly digest of our latest blogs, upcoming courses and webinars, and groundbreaking news in the OneWater sector.
        </h2>
        <button class="btn btn-default" (click)="modal.closeModal(thanksmodal)">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal after user subscribe to newsletter -->
<div
  class="modal fade"
  id="alreadysubscribedmodal"
  role="dialog"
  #alreadysubscribedmodal
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          (click)="modal.closeModal(alreadysubscribedmodal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="" />
        </div>
        <img src="assets/img/modals/verify-mail.jpg" alt="" />
        <h2>
          The email you entered has already been subscribed.
        </h2>
        <button
          class="btn btn-default"
          (click)="modal.closeModal(alreadysubscribedmodal)"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>




      <!-- <li *ngIf="!auth.isLoggedIn" class="navlink">
        <div
          class="dropdown-btn platform-dd" (click)="toggleDropdown('loginPanel')"

        >
          Get Started <i class="fa fa-caret-down" aria-hidden="true"></i>
          <div class="dropdown-content card-shadow" id="loginPanel">
            <li *ngIf="!auth.isLoggedIn" class="navlink">
              <a
              routerLink="/login-role"
              >
               Login
              </a>
            </li>
            <li *ngIf="!auth.isLoggedIn" class="navlink">
              <a routerLink="/signup-role">
                Sign Up
              </a>
            </li>
          </div>
        </div>
      </li> -->
