<div class="overlay"></div>
<section id="login">
  <!-- <div class="wave-bg"></div> -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 left-content">
        <h2>
         <strong>
          Reset Password
         </strong>
        
        </h2>

        <!-- <p>
          Recover password for email ID {{resetpassword.email}}.
        </p> -->
        <img src="assets/img/recover-pass-img.png" alt="" class="login-img" />
      </div>
      <div class="col-lg-6">
        <div class="form-box">
          <form class="vldform vldreg" [formGroup]="resetpassword" (submit)="reset()">
            <h1>Enter New Password</h1>
            <input
              class="vldform__textbox halfwidth"
              formControlName="password"
              type="password"
              name="pass"
              placeholder="Enter New Password"
              required
            />
            <p *ngIf="submitted && resetpassword.get('password').invalid">
                Password must have minimum 6 characters!
              </p>

            <input
              class="vldform__textbox halfwidth"
              formControlName="cpassword"
              type="password"
              name="pass2"
              placeholder="Confirm Password"
              required
            />
            <p *ngIf="submitted && resetpassword.get('cpassword').invalid">
                Confirm new password!
              </p>

            <button
              class="vldform__button"
              type="submit"
              (click)="modal.showBtnLoader()"
            >
              <span class="btn-loading-content">
                <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
              </span>
              <span class="btn-default-content">
                Submit
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------MODALS------------>

<!-- Password changes successfully -->
<div
  class="modal modal-animate"
  id="passSuccessModal"
  role="dialog"
  #passSuccessModal
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(passSuccessModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/modals/recover-pass.jpg"
          alt=""
        />
        <h2>
          
Success! You may now continue blogging away.

        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        routerLink="/home"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--wrong password modal-->
<div class="modal modal-animate" id="passModal" role="dialog" #passModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(passModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/wrong.svg" style="width: 25%;" alt="" />
        <h2>
          You have not entered the same password. Please try again.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(passModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>
