<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Our Journey
    </h1>
  </div>
</section>

<section class="pricing-section">
<div class="container">
  <div class="timeline">
		<ul>
			<li>
				<div class='time'>
					<span>January 2018
          </span>
				</div>
				<div class="content">
				<h3>OWA is Created </h3>
				<p>
          Resilient Utility Coalition, Operationalizing Resilience Summit Miami, FL
				</p>
				</div>
			</li>
			<li>
				<div class='time'>
					<span>June 2019</span>
				</div>
				<div class="content">
				<h3>
          OWA Soft Launch
        </h3>
				<p>
					 American Water Works Association Annual Conference and ExpositionDenver, CO

				</p>
				</div>
			</li>
			<li>
				<div class='time'>
					<span>August 2019
          </span>
				</div>
				<div class="content">
				<h3>OWA Enters Global Partnership</h3>
				<p>
					 Stockholm World Water Week Resilience Community of PracticeStockholm, Sweden

				</p>
				</div>
			</li>
			<li>
				<div class='time'>
					<span>April 2020
          </span>
				</div>
				<div class="content">
				<h3> OWA Website Goes Live</h3>
				<p>
          Earth Day 2020 Online

				</p>
				</div>
      </li>
      <li>
				<div class='time'>
					<span>July 2020
          </span>
				</div>
				<div class="content">
				<h3>OWA Learning Platform Goes Live 
        </h3>
				<p>
          Online
				</p>
				</div>
      </li>
   
		</ul>
	</div>
</div>

  
<div class="block-5a"></div>
<div class="block-6"></div>
<div class="donate-block-2"></div>
<div class="donate-circle-small"></div>
</section>