.cover-photo {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  .wave {
    position: absolute;
    height: 100%;
    bottom: -30%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.gradient-image {
  background: linear-gradient(
    180deg,
    rgba(0, 31, 204, 0.82) 20%,
    rgba(255, 255, 255, 0.68) 100%
  );
  height: 100%;
  position: absolute;
  width: 100%;
}
.blog-post-wrapper {
  margin-top: 2vh;
}
.post-top {
  padding-top: 0vh;
}

.blog-content {
  word-break: break-word;
}

.related-blogs {
  margin: 2.5rem 0;
  h2 {
    margin-bottom: 0;
  }
  .two-card .blog-caption {
    min-height: 140px;
  }
}

/*----------------------double stacked cards----------------*/
.outer-card {
  padding: 0.35rem;

  img {
    margin: 0 auto;
  }
}

img {
  margin: 1rem auto;
}

a span:hover {
  color: #000000;
  box-shadow: inset 0 -10px #a5c8ec;
}

a span {
  box-shadow: inset 0 -10px #dfdfde;
}

.article-meta {
  font-size: 14px;
}

.article-meta img {
  width: 64px;
  height: 64px;
  object-position: top;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #0e77e1;
  padding: 2px;
  display: inline-block;
}

.article-meta .meta-data {
  display: inline-block;
  padding-left: 12px;
  padding-top: 20px;
  vertical-align: top;
}

.article-meta .meta-author {
  color: #444;
  font-weight: 600;
  font-size: 20px;
}
.article-meta .meta-date {
  color: #777777;
}

.teaser {
  margin: 10px 0 35px;
  font-size: 1.05rem;
  color: #555;

  span {
    padding: 6px 8px;
    border-radius: 4px;
    background: #f0f0f0;
    color: #222;
    font-size: 12px;
    font-weight: 600;
    margin: 0 0.5rem;
  }
}

.meta-bio img {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  padding: 2px;
  object-fit: cover;
  object-position: top;
  border: 1px solid #666;
  transition: all ease-out 0.2s;
}
.meta-bio img:hover {
  border-color: #0e77e1;
}
.author-box {
  border-bottom: 1px #ccc solid;
  border-top: 1px #ccc solid;
  padding: 1rem 2rem;
}

.bio-text {
  vertical-align: middle;
  display: inline-block;
  padding-left: 20px;
  width: calc(100% - 141px);
}

.bio-text p {
  font-size: 0.9rem;
  color: #777777;
  margin-top: 8px;
  padding: 0;
  line-height: 20px;
}

.bio-text .bio-shl {
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
}

.bio-text .bio-hl {
  font-size: 22px;
  color: #0e77e1;
  margin-top: 8px;
  font-weight: 600;
}

.blog-options {
  position: relative;
  margin: 2rem 0;
  padding: 1rem 2rem;

  h6 {
    display: inline-block;
    margin: 0;
    margin-right: 0.9rem;
    font-weight: 600;
    color: #666;
  }

  .like-btn,
  .share-btn {
    a {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: #fff;
      -webkit-box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.28);
      box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.28);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;
      transition: 0.2s all ease-out;

      i {
        font-weight: 500;
        font-size: 1rem;
        color: #444;
        transition: 0.2s all ease-out;
      }
    }
  }

  .share-btn {
    display: inline-block;
    float: right;
    button {
      border: none;
      background: transparent;
      margin: 0;
      padding: 0;
      margin-left: 1rem;
    }
  }

  .share-btn a:hover,
  .like-btn a:hover {
    -webkit-box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.5);
  }

  .share-btn a:hover i {
    color: #0c7be2;
  }

  .like-btn {
    display: inline-block;
    i {
      cursor: pointer;
      padding: 10px;
      display: inline-block;
      color: #222;
      transition: 0.2s;
      font-size: 1.2rem;
    }
    span {
      visibility: hidden;
      transition: 0.6s;
      z-index: -2;
      font-size: 3px;
      color: transparent;
      font-weight: 600;
      margin-left: 1rem;
    }

    a.press i {
      color: #e23b3b;
    }

    span.press {
      bottom: 0;
      left: 50px;
      font-size: 14px;
      visibility: visible;
      animation: fade 1s;
    }
  }

  @keyframes fade {
    0% {
      color: transparent;
    }
    50% {
      color: #e23b3b;
    }
    100% {
      color: transparent;
    }
  }
}

.side-card {
  padding: 2vh 0 3vh;

  .blog-card {
    padding: 1rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    i {
      color: red;
      font-size: 1rem;
      margin-right: 1rem;
    }
    a {
      font-size: 1rem;
      display: block;
      font-weight: 600;
      letter-spacing: -0.6px;
    }

    p {
      font-size: 0.8rem;
      font-weight: 500;
      display: inline-block;
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 991px) {
  .blog-post-wrapper {
    margin-top: -2vh;
  }

  .teaser,
  p,
  blockquote,
  ul {
    font-size: 16px;
  }

  .bio-text .bio-shl {
    font-size: 14px;
  }

  .bio-text .bio-hl {
    font-size: 19px;
  }

  ul,
  ol {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-figure {
    margin: 20px 0px 40px 0px;
  }

  .meta-bio img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 768px) {
  .side-card {
    padding: 0;
  }
  .related-blogs {
    h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 576px) {
  .author-box {
    text-align: center;
  }
  .bio-text {
    width: 100%;
    padding-left: 0;
    p {
      text-align: center;
    }

    .bio-text .bio-shl {
      text-align: center;
    }
    .bio-hl {
      text-align: center;
    }
  }
  .blog-options h6 {
   display: block; 
    margin: 1rem;
  }
  .meta-bio img {
    margin: auto;
  }
  h1 {
    font-size: 2rem;
  }
  .outer-card {
    margin: 1rem 2rem;
  }
  .cover-photo {
    height: 30vh;
  }
  .share-btn {
    margin-top: 2rem;
    float: none !important;

    button {
      box-shadow: none;
      padding: 0;
      background: transparent;
    }
  }
  .blog-post-wrapper {
    margin-top: 2vh;
  }

  .side-card .blog-card {
    margin: 1rem 2rem;
  }
  .card {
    padding: 16px 8px;
  }

  .teaser,
  p {
    text-align: left;
  }

  .blog-options .share-btn i,
  .blog-options .like-btn i {
    font-size: 1.6rem;
  }
  .top-teaser {
    margin-top: 2.5rem;
  }
}
