/*---------------------------------------------
	Dashboard
---------------------------------------------*/
.logo {
  text-align: center;
  padding: 1rem;
}

.logo img {
  width: 100px;
}

.no-content {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-content h3 {
  color: rgba(0, 0, 0, 0.23);
  text-align: center;
}

.slide-in {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.buttons .button {
  text-align: center;
  border-radius: 3px;
  color: #2f2f2f;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 0.85rem;
  margin: 0 1rem;
  background: #f9f9f9;
  border: 1.5px solid;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 14px -1px #eaeaea;
          box-shadow: 5px 5px 14px -1px #eaeaea;
}

.buttons .button:hover {
  color: #ffffff;
  background: #246df8;
  border-color: #083c9c;
}

/*---------------------------------------------
	04.0 Breadcrumb Style
---------------------------------------------*/
.breadcrumb-area h1 {
  font-size: 2.6rem;
  font-weight: 500;
}

.breadcrumb-area .breadcrumb {
  padding: 0;
  padding-top: 12px;
  margin: 0;
  background: transparent;
}

.breadcrumb-area .breadcrumb li {
  color: #777;
}

.breadcrumb-area .breadcrumb li a {
  color: #aaaaaa;
}

.breadcrumb-area .breadcrumb li a:hover {
  color: #246df8;
}

.breadcrumb-form {
  text-align: right;
}

.breadcrumb-form form {
  max-width: 350px;
  position: relative;
  margin-left: auto;
}

.breadcrumb-form input {
  width: 100%;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid rgba(36, 109, 248, 0.2);
  background: transparent;
  outline: none;
  height: 50px;
  margin: 1rem;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.breadcrumb-form input:focus {
  border-color: #246df8;
}

.breadcrumb-form input:focus + button {
  color: #246df8;
}

.breadcrumb-form button {
  background: transparent;
  position: absolute;
  right: 0;
  top: 26px;
  padding: 0;
  margin-top: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  color: rgba(36, 109, 248, 0.3);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.breadcrumb-form form button:hover {
  color: #246df8;
}

@media all and (max-width: 768px) {
  .breadcrumb-form form {
    margin-right: auto;
    margin-left: 0;
    margin-top: 15px;
  }
  .breadcrumb-area {
    padding: 1rem;
  }
}

.dashboard-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  max-height: 100vh;
  overflow-y: scroll;
  flex-direction: row-reverse;
}

.dashboard-container .dashboard-sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  border: none;
  border-radius: 0;
  background: #1b73a1;
  z-index: 10;
}

.dashboard-menu::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
  background: url(/assets/img/sidebar-wave.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* width */
.dashboard-container .dashboard-sidebar::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.dashboard-container .dashboard-sidebar::-webkit-scrollbar-track {
  background: rgba(90, 164, 248, 0.329);
}

/* Handle */
.dashboard-container .dashboard-sidebar::-webkit-scrollbar-thumb {
  background: rgba(109, 188, 253, 0.575);
  border-radius: 4px;
}

/* Handle on hover */
.dashboard-container .dashboard-sidebar::-webkit-scrollbar-thumb:hover {
  background: #a0d4ff;
}

.dashboard-content-wrapper {
  background: url(/assets/img/dashboard-bg.PNG);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: bottom;
  padding: 2rem;
  min-height: 100vh;
}

.sidebar-header h4 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 0.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.dashboard-tabs-wrap {
  width: calc(100% - 300px);
}

.dash-tab {
  -webkit-animation: slide 0.4s forwards ease-out;
          animation: slide 0.4s forwards ease-out;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.dashboard-sidebar .dashboard-menu {
  padding: 0 0 2rem;
  position: relative;
  min-height: 50vh;
}

.dashboard-sidebar .dashboard-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dashboard-sidebar .dashboard-menu ul li {
  padding: 0.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-sidebar .dashboard-menu ul li i {
  color: rgba(255, 255, 255, 0.448);
  width: 25px;
  margin-right: 0.5rem;
}

.dashboard-sidebar .dashboard-menu ul li a {
  padding: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  display: block;
  cursor: pointer;
  border-radius: 3px;
}

.dashboard-sidebar .dashboard-menu ul li:hover i,
.activetab i {
  color: #0c3964 !important;
}

.dashboard-sidebar .dashboard-menu ul li:hover a,
.activetab a {
  color: #0c3964 !important;
  background-color: rgba(255, 255, 255, 0.411);
  font-weight: 700 !important;
}

.dashboard-sidebar .dashboard-menu ul.delete li i {
  color: #ff3366;
}

.dashboard-sidebar .dashboard-menu ul.delete li:hover i {
  color: #ff3366 !important;
}

.dashboard-sidebar .dashboard-menu ul.delete li:hover a {
  color: #fff !important;
  /* background-image: linear-gradient(to right, rgba(255, 51, 102, 0.2), rgba(255, 51, 102, 0)); */
  background: #ff3366 !important;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.filter-btn {
  color: #000;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 1.1rem;
  background: #f9f9f9;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
          box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 40;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.slide-in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media all and (max-width: 991px) {
  .filter-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dashboard-sidebar {
    position: fixed;
    width: 300px !important;
    right: 0;
    top: 10vh;
    height: 80vh;
    z-index: 10;
    overflow-y: scroll;
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
    -webkit-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 5px 5px 14px -1px #00000021;
            box-shadow: 5px 5px 14px -1px #00000021;
  }
}

@media all and (max-width: 420px) {
  .padding-top-70 {
    padding-top: 10px;
  }
  .padding-bottom-70 {
    padding-bottom: 10px;
  }
}

.dashboard-content-wrapper .dashboard-section + .dashboard-section {
  margin-top: 40px;
}

.user-statistic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.user-statistic-block .user-statistic span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-statistic-block .user-statistic {
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  border: 1.5px solid transparent;
  -webkit-box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
          box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-animation: 0.5s ease-out forwards up;
          animation: 0.5s ease-out forwards up;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

.user-statistic-block .user-statistic svg {
  height: 50px;
  width: 50px;
  margin-right: 1rem;
}

.user-statistic-block .user-statistic h3 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.user-statistic-block .user-statistic span {
  font-size: 0.9rem;
  font-weight: 700;
  color: #777;
  text-align: center;
}

.user-statistic-block .user-statistic:hover {
  background: #fff;
  border-color: #428dfe;
}

@media all and (max-width: 420px) {
  .user-statistic-block .user-statistic {
    margin: 0;
  }
}

.dashboard-recent-activity .title {
  padding: 20px;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.dashboard-recent-activity .activity-list {
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
          box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1.5px solid transparent;
  cursor: pointer;
}

.dashboard-recent-activity .activity-list i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.dashboard-recent-activity .activity-list:hover {
  background: #fff;
  border-color: #428dfe;
}

.dashboard-recent-activity .activity-list h5 {
  font-size: 1.2rem;
  color: #777;
  margin-top: 8px;
  font-weight: 700;
}

.dashboard-recent-activity .activity-list span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #999;
}

.dashboard-recent-activity .activity-list .content {
  margin: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dashboard-recent-activity .activity-list .close-activity {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.dashboard-recent-activity .activity-list .close-activity i {
  border-radius: 3px;
  color: #000;
  text-align: center;
  line-height: 15px;
  padding: 2px;
  font-size: 1rem;
  font-weight: 400;
}

.dashboard-recent-activity .activity-list .close-activity i:hover {
  background: #ff3366;
}

.dashboard-recent-activity .activity-list:hover > i {
  color: #01d13d;
}

/*---------------------------------------------
      Edit Profile
  ---------------------------------------------*/
.upload-profile-photo {
  position: relative;
}

.update-photo {
  height: 150px;
  position: relative;
  width: 150px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  border: 2px #777 solid;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.22);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.update-photo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 5px;
}

.update-photo:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.upload-profile-photo .file-upload {
  color: #6f7484;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 0.85rem;
  margin: 1rem auto 0;
  background: #f9f9f9;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 5px 5px 14px -1px #eaeaea;
          box-shadow: 5px 5px 14px -1px #eaeaea;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 150px;
  cursor: pointer;
}

.upload-profile-photo .file-upload:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 5px 5px 14px -1px #eaeaea;
          box-shadow: 5px 5px 14px -1px #eaeaea;
  color: rgba(36, 109, 248, 0.9);
}

.file-upload input.file-input {
  position: absolute;
  text-align: center;
  width: 150px;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.dashboard-form {
  background: #fff;
  padding: 20px 30px;
  border-radius: 18px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
          box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
}

.dashboard-form .form-group {
  margin-bottom: 30px;
}

.dashboard-form .form-group label {
  font-size: 1.1rem;
  font-weight: 600;
  color: #444;
}

.dashboard-form .form-group .form-control {
  height: 40px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dashboard-form .form-group .form-control:focus {
  border-bottom-color: #1d40f3;
}

.dashboard-form .form-group textarea.form-control {
  height: 100px;
}

.dashboard-form .button {
  padding: 12px 30px;
  background: #1d40f3;
  border-radius: 8px;
  float: right;
  border: 2px solid transparent;
  color: #ffffff;
  max-width: 180px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

/*---------------------------------------------
      Resume
  ---------------------------------------------*/
.download-resume {
  margin-bottom: 10px;
}

.download-resume a {
  color: #6f7484;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 0.85rem;
  margin-right: 1rem;
  background: #f9f9f9;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
          box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
}

.download-resume a svg {
  height: 14px;
  width: 14px;
  margin-left: 10px;
}

.download-resume a:hover {
  background: #777;
  color: #ffffff;
}

.download-resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.download-resume .update-file {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  border: 0;
  cursor: pointer;
  color: #6f7484;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 0.85rem;
  margin-right: 1rem;
  background: #f9f9f9;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 14px -1px #eaeaea;
          box-shadow: 5px 5px 14px -1px #eaeaea;
}

.download-resume .update-file svg {
  margin-left: 5px;
  height: 14px;
}

.download-resume .update-file:hover {
  background: #777;
  color: #ffffff;
}

.update-file input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
}

.skill-and-profile.dashboard-section {
  padding-bottom: 0;
  border-bottom: 0;
}

.skill-and-profile.dashboard-section .skill .edit-button,
.skill-and-profile.dashboard-section .social-profile .edit-button {
  padding: 2px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #444;
  background: none;
  border-color: transparent;
  border-radius: 3px;
}

.skill-and-profile.dashboard-section .skill .edit-button:focus,
.skill-and-profile.dashboard-section .skill .edit-button:visited,
.skill-and-profile.dashboard-section .skill .edit-button:active,
.skill-and-profile.dashboard-section .social-profile .edit-button:focus,
.skill-and-profile.dashboard-section .social-profile .edit-button:visited,
.skill-and-profile.dashboard-section .social-profile .edit-button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.skill-and-profile.dashboard-section .skill .edit-button:hover,
.skill-and-profile.dashboard-section .social-profile .edit-button:hover {
  color: #444;
}

.skill-and-profile.dashboard-section .skill .edit-button svg,
.skill-and-profile.dashboard-section .social-profile .edit-button svg {
  height: 15px;
  width: 15px;
}

.details-section.dashboard-section h4 {
  padding-bottom: 30px;
  padding-right: 32px;
}

.dashboard-section .information {
  margin-top: 30px;
}

.dashboard-section .information h4 {
  padding-bottom: 20px;
}

.dashboard-section .information ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dashboard-section .information ul li {
  width: 50%;
}

.details-section.last-child {
  padding-top: 60px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.dashboard-section {
  position: relative;
}

.dashboard-section .edit-resume {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px;
  color: #777;
  background: none;
  border-color: transparent;
  border-radius: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dashboard-section .edit-resume:focus,
.dashboard-section .edit-resume:visited,
.dashboard-section .edit-resume:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.dashboard-section .edit-resume:hover {
  color: #444;
}

.dashboard-section .edit-resume svg {
  height: 15px;
  width: 15px;
}

.dashboard-section.last-child .edit-resume {
  top: 60px;
}

.skill-and-profile.dashboard-section .modal label {
  margin-right: 0;
  padding-top: 10px;
  padding-bottom: 0;
  color: #6f7484;
}

.dashboard-section .modal-dialog {
  max-width: 900px;
}

.dashboard-section .modal .modal-body {
  padding: 50px 30px;
}

.dashboard-section .modal .modal-body .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-section .modal .modal-body .title h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.dashboard-section .modal .modal-body .title h4 svg {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  color: #aaa;
}

.dashboard-section .modal .modal-body .title .add-more {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 3px 15px;
  margin-right: 0;
  border: 0;
  border-radius: 3px;
  background: rgba(36, 109, 248, 0.15);
  color: #777;
}

.dashboard-section .modal .modal-body .title .add-more:hover {
  color: #ffffff;
  background: #777;
}

.dashboard-section .modal .modal-body form h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 20px;
}

.dashboard-section .modal .modal-body form h4 svg {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  color: #6f7484;
}

.dashboard-section
.modal
.modal-body
form
.input-block-wrap
+ .input-block-wrap {
  margin-top: 60px;
}

.dashboard-section .modal .modal-body form .form-group {
  margin-bottom: 20px;
}

.dashboard-section .modal .modal-body form .input-group-text {
  background: transparent;
  margin-right: 1px;
  border: 0;
  font-size: 1.4rem;
  width: 32px;
  padding-left: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

.dashboard-section .modal .modal-body form .input-group-text:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 10px;
  right: 0;
  width: 1px;
  background: rgba(0, 0, 0, 0.08);
}

.dashboard-section .modal .modal-body form .form-control {
  height: 40px;
  border: 0;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.dashboard-section .modal .modal-body form .form-control:focus {
  border-bottom-color: #777;
}

.dashboard-section
.modal
.modal-body
form
.form-control:focus
+ .input-group-text {
  border-bottom-color: #777;
}

.dashboard-section .modal .modal-body form textarea.form-control {
  height: 120px;
}

.dashboard-section .modal .modal-body form .dropdown-label {
  width: 200px;
  overflow: hidden;
  position: relative;
  background: white;
  width: 70px;
  padding: 0;
  border-bottom: 0;
}

.dashboard-section .modal .modal-body form .dropdown-label select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding-left: 0.5em;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 10;
}

@-moz-document url-prefix() {
  .dashboard-section .modal .modal-body form .dropdown-label select {
    width: 110%;
  }
}

.dashboard-section
.modal
.modal-body
form
.dropdown-label
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}

.dashboard-section .modal .modal-body form .dropdown-label select::-ms-expand {
  display: none;
}

.dashboard-section .modal .modal-body form .dropdown-label i {
  position: absolute;
  right: 0.5em;
  top: 13px;
  z-index: 5;
  color: black;
}

.dashboard-section .modal .modal-body form .buttons {
  margin-bottom: -10px;
}

.dashboard-section .modal .modal-body form .buttons button {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #777;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: rgba(36, 109, 248, 0.15);
}

.dashboard-section .modal .modal-body form .buttons button:hover,
.dashboard-section .modal .modal-body form .buttons button.primary-bg {
  background: #777;
  color: #ffffff;
}

.dashboard-section.details-section .modal h4 {
  padding-right: 0;
  padding-bottom: 0;
}

.dashboard-section.details-section .modal h4 svg {
  position: static;
}

.send-file,
.send-image {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.send-file input,
.send-image input {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  overflow: hidden;
}

.send-file svg,
.send-image svg {
  color: #aaaaaa;
  height: 18px;
  width: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*---------------------------------------------
      Employer Dashboard
  ---------------------------------------------*/
.dashboard-sidebar .company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #ffffff6e;
}

.dashboard-sidebar .company-info .thumb {
  border-radius: 50%;
  position: relative;
  background-color: #fff;
}

.dashboard-sidebar .company-info .thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dashboard-sidebar .company-info .company-body {
  padding: 0;
  text-align: center;
}

.dashboard-sidebar .company-info .company-body h5 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-top: 0.5rem;
}

.media-inputs .input-group-text {
  background: transparent;
  border: 0;
  padding: 0;
  font-size: 1rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.media-inputs .input-group-text:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 10px;
  right: 1px;
  width: 1px;
  background: rgba(0, 0, 0, 0.08);
}

.media-inputs h4,
.social-inputs h4 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.media-inputs h4 svg,
.social-inputs h4 svg {
  height: 15px;
  margin-right: 10px;
  color: #aaa;
}

.dashboard-form .media-inputs .form-group .form-control {
  padding-left: 10px;
}

.social-inputs .input-group-text {
  width: 32px;
  background: transparent;
  border: 0;
  padding: 0;
  font-size: 1.4rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.social-inputs .input-group-text:before {
  position: absolute;
  content: "";
  top: 10px;
  bottom: 10px;
  right: -10px;
  width: 1px;
  background: rgba(0, 0, 0, 0.08);
}

.dashboard-form .social-inputs .form-group .form-control {
  padding-left: 10px;
}

.social-inputs .input-group.add-new .dropdown-label {
  width: 80px;
  overflow: hidden;
  position: relative;
  background: white;
  width: 70px;
  padding: 0;
  border-bottom: 0;
}

.social-inputs .input-group.add-new .dropdown-label select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding-left: 0.5em;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 10;
}

@-moz-document url-prefix() {
  .social-inputs .input-group.add-new .dropdown-label select {
    width: 110%;
  }
}

.social-inputs .input-group.add-new .dropdown-label select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 black;
}

.social-inputs .input-group.add-new .dropdown-label select::-ms-expand {
  display: none;
}

.social-inputs .input-group.add-new .dropdown-label i {
  position: absolute;
  right: 10px;
  top: 13px;
  z-index: 5;
  color: black;
}

/*------------------------------------------------------
    Upload File
  ------------------------------------------------------*/
.upload-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 5px;
}

.upload-images .img,
.upload-images .pic {
  border-radius: 5px;
  margin-bottom: 10px;
}

.upload-images .pic span {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 2.2rem;
  background: #d4d4d4;
  display: inline-block;
  border-radius: 50%;
  color: #ffffff;
}

.upload-images .img {
  width: 112px;
  height: 100px;
  background-size: cover;
  margin-right: 10px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.upload-images .img:nth-child(4n) {
  margin-right: 0;
}

.upload-images .img span {
  text-transform: capitalize;
  z-index: 2;
  position: absolute;
  top: -6px;
  right: -6px;
  background: #f00;
  color: #ffffff;
  font-size: 0.6rem;
  padding: 5px;
  border-radius: 50%;
}

.upload-images .pic {
  background-color: #f5f7fa;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  padding: 25px 20px;
  color: #848ea1;
  font-size: 12px;
  cursor: pointer;
}

.image-upload-input .input-group-prepend .input-group-text {
  margin-right: 10px;
  border-bottom: 0;
}

/*------------------------------------------------------
    Manage Job
  ------------------------------------------------------*/
.manage-job-container {
  overflow-x: auto;
  padding: 2rem;
}

.manage-job-container table {
  min-width: 650px;
}

.manage-job-container td {
  padding: 30px 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  vertical-align: middle;
  font-size: 0.8rem;
}

.manage-job-container .table th {
  border-top: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  border-bottom: 0;
}

.manage-job-container .title h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #232630;
  margin-bottom: 10px;
  letter-spacing: -0.3px;
}

.manage-job-container .title .info span {
  margin-right: 20px;
  font-size: 0.95rem;
  font-weight: 600;
}

.manage-job-container .title .info a {
  color: #777;
}

.manage-job-container .title .info span svg {
  height: 15px;
  width: 15px;
  margin-right: 7px;
  color: #aaa;
}

.manage-job-container .title .info .full-time a svg {
  color: #ff9247;
}

.manage-job-container .title .info .freelance a svg {
  color: #82d219;
}

.manage-job-container .title .info .temporary a svg {
  color: #ff5377;
}

.manage-job-container .title .info .part-time a svg {
  color: #6e75d0;
}

.manage-job-container .application a {
  color: #007bff;
  font-weight: 600;
}

.manage-job-container .application a:hover {
  color: #777;
}

.manage-job-container .deadline {
  color: #6f7484;
}

.manage-job-container .status.active {
  color: #01d13d;
}

.manage-job-container .status.pending {
  color: #e8aa3e;
}

.manage-job-container .status.expired {
  color: #ff3366;
}

.manage-job-container .action {
  text-align: right;
}

.manage-job-container .action a svg {
  height: 15px;
  width: 15px;
}

.manage-job-container .action a + a {
  margin-left: 10px;
}

.manage-job-container .action .preview {
  color: #01d13d;
}

.manage-job-container .action .edit {
  color: #777;
}

.manage-job-container .action .remove {
  color: #ff3366;
}

.manage-candidate-container {
  overflow-x: auto;
  padding: 2rem;
}

.manage-candidate-container table {
  min-width: 650px;
}

.manage-candidate-container td {
  padding: 30px 6px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  vertical-align: middle;
  font-size: 0.8rem;
}

.manage-candidate-container .table th {
  border-top: 0;
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  border-bottom: 0;
}

.manage-candidate-container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.thumb {
  margin: 0;
  width: 130px;
  height: 130px;
  background: none;
  border: none;
}

.thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  padding: 0.2rem;
  border: 2.5px #fff solid;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.thumb img:hover {
  border: 0.5px #fff solid;
}

.manage-candidate-container .title .body h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #232630;
  margin-bottom: 10px;
  letter-spacing: -0.3px;
}

.manage-candidate-container .title .body .info span {
  margin-right: 20px;
  font-size: 0.95rem;
  font-weight: 600;
}

.manage-candidate-container .title .body .info span a {
  color: #777;
}

.manage-candidate-container .title .body .info span svg {
  height: 15px;
  width: 15px;
  margin-right: 7px;
  color: #aaa;
}

.manage-candidate-container .title .body .info .full-time a svg {
  color: #ff9247;
}

.manage-candidate-container .title .body .info .freelance a svg {
  color: #82d219;
}

.manage-candidate-container .title .body .info .temporary a svg {
  color: #ff5377;
}

.manage-candidate-container .title .body .info .part-time a svg {
  color: #6e75d0;
}

.manage-candidate-container .status {
  color: #6f7484;
}

.manage-candidate-container .status svg {
  height: 15px;
  width: 15px;
  margin-right: 8px;
}

.manage-candidate-container .action {
  text-align: right;
}

.manage-candidate-container .action a svg {
  height: 15px;
  width: 15px;
}

.manage-candidate-container .action a + a {
  margin-left: 10px;
}

.manage-candidate-container .action .download {
  color: #01d13d;
}

.manage-candidate-container .action .inbox {
  color: #777;
}

.manage-candidate-container .action .remove {
  color: #ff3366;
}

@media all and (max-width: 991px) {
  .dashboard-container {
    display: block;
  }
  .dashboard-container .dashboard-content-wrapper,
  .dashboard-container .dashboard-sidebar {
    width: 100%;
  }
  .pricing.advance:before,
  .pricing.advance:after {
    height: 0;
    width: 0;
  }
}

@media all and (max-width: 767px) {
  .user-statistic-block .user-statistic {
    width: 47%;
    margin-bottom: 30px;
  }
  .user-statistic-block .user-statistic svg {
    top: 40px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .bookmark-area .job-list,
  .dashboard-apply-area .job-list {
    position: relative;
  }
  .bookmark-area .job-list .body .more .bookmark-remove,
  .dashboard-apply-area .job-list .body .more .bookmark-remove {
    position: absolute;
    top: 30px;
    right: 20px;
  }
  .jy-alert {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .message-lists {
    width: 100%;
    border-right: 0;
  }
  .message-box {
    display: none;
    visibility: hidden;
  }
}

@media all and (max-width: 479px) {
  .user-statistic-block {
    display: block;
  }
  .user-statistic-block .user-statistic {
    width: 100%;
  }
  .user-statistic-block .user-statistic svg {
    top: 40px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .download-resume .update-file {
    display: block;
    margin-bottom: 10px;
  }
  .dashboard-section .information ul {
    display: block;
  }
  .dashboard-section .information ul li {
    width: 100%;
  }
  .dashboard-section .modal .modal-body .title {
    display: block;
  }
  .dashboard-section .modal .modal-body .title .add-more {
    margin-top: 15px;
  }
}

@media all and (max-width: 991px) {
  .dashboard-tabs-wrap {
    width: 100%;
    padding: 1rem;
  }
}

@media all and (max-width: 420px) {
  .container {
    padding: 0 !important;
  }
}

.status-btn {
  padding: 4px 8px;
  margin-top: 4px;
  border-radius: 2px;
}

.dashboard-recent-activity .activity-list {
  padding: 1.2rem 0.6rem;
  margin: 1rem 0;
  border-radius: 15px;
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dashboard-recent-activity .activity-list .content {
  padding: 0.4rem 0;
}

.dashboard-recent-activity .activity-list h5 {
  margin-top: 0.2rem;
}

.dashboard-recent-activity .activity-list img {
  border-radius: 8px;
}

.dashboard-recent-activity .activity-list .close-activity {
  margin: 8px auto;
}

.dashboard-recent-activity .activity-list i {
  font-size: 15px;
  color: red;
  margin-right: 1px;
}

.flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 0;
}
/*# sourceMappingURL=pending-blogs.component.css.map */