<section class="hero-section">
        <div class="heading">
          <h1>
            Share your knowledge.
          </h1>
</div>
 
<div class="register-card card-shadow align-items-center d-flex">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <img src="assets/img/landing/reg-card.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <h2>
        Become an Instructor.
      </h2>
      <div class="text-center">
        <a (click)="modal.openModal(instructorModal)" class="join-btn">
          Join now
        </a>
      </div>
      
    </div>
  </div>
  </div>

  <div class="block-5"></div>
  <div class="block-5 block-5-bottom"></div>
  <div class="wave-bg">
    <img src="assets/img/wave-bg.png" alt="">
  </div>

</section>

<section class="why-become-instructor-section">
  <div class="block-1 block-1-top"></div>
 
  <div class="container">
    <h2 >
      Why become a OneWater Academy Instructor?
    </h2>
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/learn.svg" alt="">
      <h4>
        Tell Your Story
      </h4>
      <p>
        Your experience is unique and valuable, and others can benefit from your strategy for success in the water and wastewater industries.
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/target.svg" alt="">
      <h4>
        Attract an Audience
      </h4>
      <p>
        Instructing OneWater learners can help you promote yourself, your product, or your company.  
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/seminar.svg" alt="">
      <h4>
        Validate Expertise
      </h4>
      <p>
        Instructing on a topic you would like to be viewed as an expert in, can illustrate to employers, and your network, that you are skilled and knowledgeable.
      </p>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-box">
        <img src="/assets/img/icons/meet.svg" alt="">
        <h4>
          Meet New People

        </h4>
        <p>
         
The people you mentor through OneWater can become your friends, colleagues or business partners. There’s no such thing as too many business contacts that appreciate you and your expertise.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-box">
        <img src="/assets/img/icons/future.svg" alt="">
        <h4>
          Shape the Future

        </h4>
        <p>
          The 21st century is unfolding an unparalleled, complex set of water challenges. Help prepare a workforce that can create the solutions we need 
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-box">
        <img src="/assets/img/icons/innovation.svg" alt="">
        <h4>
          Create Opportunities
        </h4>
        <p>
          
          Nearly everyone can name a person who inspired him or her, that pushed them, that maybe even changed their life for the better. Be that person, and maybe find your new employee.
          
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="register-section">
  <div class="donate-block"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6">
        <img src="./assets/img/landing/ins-reg-img.png" alt="">
      </div>
      <div class="col-lg-5 col-md-6">
        <h1>
          Become an instructor.
        </h1>
       
        <a (click)="modal.openModal(instructorModal)" class="join-btn">
          Join now
        </a>
      </div>
    </div>
  </div>
</section>


<!--modal for instructor form -->
<div class="modal fade" id="instructorModal" #instructorModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(instructorModal)"
        >
          &times;
        </button>
      </div>

      <div class="modal-body p-4">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/ins-login.png" alt=""
        />
        <h2>Become a OneWater Instructor</h2>
        <form [formGroup]="form" (submit)="register()">



<div class="row">
  <div class="col-md-6">
    <input
    name="name"
    formControlName="firstname"
    class="vldform__textbox"
    type="text"
    placeholder="First Name"
    required
  />
  <p *ngIf="submitted && form.get('firstname').invalid">
    Please enter your First Name!
  </p>
  </div>
  <div class="col-md-6">
    <input
    name="lastname"
    formControlName="lastname"
    class="vldform__textbox"
    type="text"
    placeholder="Last Name"
    required
  />
  <p *ngIf="submitted && form.get('lastname').invalid">
    Please enter your Last Name!
  </p>
  </div>
</div>

<input
name="course"
formControlName="organization"
class="vldform__textbox"
type="text"
placeholder="Organization Name"
/>
<p *ngIf="submitted && form.get('organization').invalid">
  Please enter your Organization!
</p>
<input
name="email"
formControlName="email"
class="vldform__textbox"
type="email"
placeholder="Enter your email"
required
/>
<div *ngIf="submitted && form.get('email').invalid">
  <p *ngIf="form.get('email').errors.required">
    Please enter your email!
  </p>
  <p *ngIf="form.get('email').errors.email">
    Please enter a valid email!
  </p>
</div>

          <input
          name="phone"
          formControlName="mobile_no"
          class="vldform__textbox"
          type="number"
          placeholder="Phone Number: (Optional)"
        />

        <input formControlName="proposed_course_topic" type="text" class="vldform__textbox" placeholder="Proposed Course Topic">
        <p *ngIf="submitted && form.get('proposed_course_topic').invalid">
          Please enter your Proposed Course Topic!
        </p>
        <h6>Type of Course</h6>
        <input formControlName="course_type" value="Webinar" type="radio" id="f-option">
    <label for="f-option">Webinar</label>
    <input formControlName="course_type" value="Online Course" type="radio" id="s-option">
    <label for="s-option">   Online Course</label>
      <p *ngIf="submitted && form.get('course_type').invalid">
        Please select your Course Type!
      </p>

        <input formControlName="proposed_course_title" type="text" class="vldform__textbox" placeholder="Proposed Course Title">
        <p *ngIf="submitted && form.get('proposed_course_title').invalid">
          Please enter your Proposed Course Title!
        </p>
        <textarea formControlName="proposed_desc" name="" id="" cols="30" rows="5" class="vldform__textbox" placeholder="Proposed Course Description (100 Words)"></textarea>
        <p *ngIf="submitted && form.get('proposed_desc').invalid">
          Please enter your Proposed Desc!
        </p>
          <button
            type="submit"
            class="btn btn-default"
            (click)="modal.showBtnLoader()"
          >
            <span class="btn-loading-content">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
            <span class="btn-default-content">
              Submit
            </span>
          </button>
        </form>
      </div>


    </div>
  </div>
</div>

<!--instructor form submitted-->
<div class="modal fade" id="detailsSubmitted" #detailsSubmitted>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(detailsSubmitted)"
        >
          &times;
        </button>
      </div>

      <div class="modal-body p-4">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/modals/recover-pass.jpg" alt=""
        />
        <h2>Thank you for your interest.  <br> We will be in touch with you soon!

        </h2>

        <button
            type="button"
            class="btn btn-default"
            (click)="modal.closeModal(detailsSubmitted)"
          >OK
          </button>
      </div>


    </div>
  </div>
</div>
