@import '../board';

.circle{
    &-1{
        top: 50%;
        left: 0;
        @include dimension(30rem);
        filter: blur(23rem);
        background-color: #bf0a31ab ;
        transform: translateY(-50%);   
}

    &-2{
        top: 70%;
        right:0;
        @include dimension(15rem);
        filter: blur(10rem);
        transform: translate(-10%,0%);
        background-color: #0028682f;
    }

    &-3{
        top: 0;
        right: 0;
        @include dimension(20rem);
        filter: blur(14rem);
        transform: translate(-10%,-6%);
        background-color: #9eb4ff;
    }
}
