<section class="board-hero">
  <div class="container">
     <img src="assets/img/bas/nyc.png" alt="" class="board-hero-img">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <h4 class="board-h2">
          Bring a Smile
        </h4>
        <h1 class="board-h1">
          American Board
        </h1>
      </div>
    </div>
   
  </div>
  <div class="circle circle-1"></div>
  <div class="circle circle-2"></div>
  <div class="circle circle-3"></div>
  <div class="board-hero-overlay"></div>
</section>
<section class="board-about abs-bg mt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="mb-4">
          <span class="text-blue">
            American Board
          </span>
          lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>

        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis enim quis omnis tempora veniam veritatis doloribus alias aspernatur, repellendus vel et dolorum ea dignissimos? Vitae harum saepe itaque quaerat totam excepturi dolore distinctio similique nihil commodi veniam id officia amet quis consequuntur unde vero, culpa sit praesentium quas eius nulla beatae ipsa sequi. Aperiam dolore laboriosam cumque optio! Adipisci, earum.
        </p>


        <div class="img-container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="img-grid shadow">
                <img src="https://images.pexels.com/photos/3079978/pexels-photo-3079978.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-grid shadow">
                <img src="https://images.yourstory.com/cs/wordpress/2015/07/yourstory-elderly-india.jpg?fm=png&auto=format"  alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-grid shadow">
                <img src="https://i.ytimg.com/vi/O2PqxHa8c74/maxresdefault.jpg"  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="board-members pt-0">
  <div class="container">
    <h2 class="text-center">
      <span class="text-blue">
        Members
      </span>
      of Board
    </h2>

    <div class="row">
      <div class="col-md-4 col-6">
        <div class="top-auth-img">
          <img src="https://images.pexels.com/photos/1680172/pexels-photo-1680172.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
          <h4 class="mt-1 mb-3">Suraj Bhanushali</h4>
          <h6 class="mb-1">
            Vice President
          </h6>
          <h6 class="light"> 
            JioTech Inc.
          </h6>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="top-auth-img">
          <img src="https://images.pexels.com/photos/1306557/pexels-photo-1306557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
          <h4 class="mt-1 mb-3">Sumita Joshi</h4>
          <h6 class="mb-1">
            CEO
          </h6>
          <h6 class="light"> 
            AquaGuard
          </h6>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="top-auth-img">
          <img src="https://timesofindia.indiatimes.com/thumb/msid-78412773,imgsize-647299,width-400,resizemode-4/78412773.jpg" alt="" />
          <h4 class="mt-1 mb-3">Narendra Modi</h4>
          <h6 class="mb-1">
            Prime Minister
          </h6>
          <h6 class="light"> 
            India
          </h6>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="top-auth-img">
          <img src="https://images.outlookindia.com/public/uploads/articles/2019/10/19/Amit_Shah_571_855.jpg" alt="" />
          <h4 class="mt-1 mb-3">Amit Shah</h4>
          <h6 class="mb-1">
            Home Minister
          </h6>
          <h6 class="light"> 
            India
          </h6>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="top-auth-img">
          <img src="https://images.pexels.com/photos/1680172/pexels-photo-1680172.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="" />
          <h4 class="mt-1 mb-3">Suraj Bhanushali</h4>
          <h6 class="mb-1">
            Vice President
          </h6>
          <h6 class="light"> 
            JioTech Inc.
          </h6>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="top-auth-img">
          <img src="https://images.pexels.com/photos/1306557/pexels-photo-1306557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
          <h4 class="mt-1 mb-3">Sumita Joshi</h4>
          <h6 class="mb-1">
            CEO
          </h6>
          <h6 class="light"> 
            AquaGuard
          </h6>
        </div>
      </div>

    
    </div>
  </div>
</section>

<section class="boards-section">
  <div class="container">
   
<h2 class="text-center">
  Another Boards
</h2>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="board-card">
          <div class="board-img">
            <a routerLink="/owa-bas/boards/indian">
            <img src="assets/img/bas/india-icon.svg" alt="">
            </a>
          </div>
          <h4>
            Indian Board
          </h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In eveniet, dolores impedit quisquam voluptates officiis.
          </p>
          <a routerLink="/owa-bas/boards/indian" class="btn-white">Know More</a>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="board-card">
          <div class="board-img">
            <a routerLink="/owa-bas/boards/canadian">
            <img src="assets/img/bas/canada-icon.svg" alt="">
            </a>
          </div>
          <h4>
            Canadian Board
          </h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In eveniet, dolores impedit quisquam voluptates officiis.
          </p>
          <a routerLink="/owa-bas/boards/canadian" class="btn-white">Know More</a>
        </div>
      </div>
    </div>
  </div>
</section>