<div class="overlay"></div>
<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Give
    </h1>

    <!-- <div class="mybtn">
      <a pageScroll href="#sec-1">
        How can I help
      </a>
    </div> -->
  </div>
</section>

<section class="section-1" id="sec-1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2>
          Support our OneWater Drop Campaign
        </h2>
        <p>
          Little drops of water make a mighty ocean. No contribution is small and every bit of your support will help OneWater Academy further its mission and vision to build a resilient OneWater workforce. 
        </p>
        <p>
          OneWater Academy is a 501(c)(3) nonprofit organization. All or part of your gift may be tax deductible as a charitable contribution.
          
        </p>
      </div>
      <div class="col-lg-6 img-wrap">
        <img
          src="assets/img/landing/donate-img.png"
          alt=""
          class="donate-img"
        />
        <!-- <div class="mybtn">
          <a pageScroll href="#donate">
            Give Today 
          </a>
        </div> -->
      </div>
    </div>
  </div>
</section>
<section class="donate-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 img-wrap">
        <img
          src="assets/img/landing/donate-form-img.png"
          alt=""
          class="form-img"
        />
      </div>
      <div class="col-lg-6" id="donate">
        <div class="donation-form form-box">
          <form [formGroup]="userpayment" class="vldform">
            <div class="form-head">
              <h4>Support the OneWater Drop Campaign</h4>
            </div>
            <input
              class="vldform__textbox"
              type="text"
              name="name"
              placeholder="Name"
              required
              formControlName="name"
            />
            <p
          
            *ngIf="formSubmitted && userpayment.get('name').invalid"
          >
            Please Enter a Name
          </p>
            <input
              class="vldform__textbox"
              type="email"
              name="email"
              placeholder="Email"
              required
              formControlName="email"
            />
           
          <div *ngIf="formSubmitted && userpayment.get('email').invalid">
            <p *ngIf="userpayment.get('email').errors.required">
              Please enter your email!
            </p>
            <p *ngIf="userpayment.get('email').errors.email">
              Please enter a valid email!
            </p>
          </div>
          <select class="vldform__textbox" style="color: #777;" (change)="enterAmount(amountDonated)" #amountDonated>
            <option value="">Select amount</option>
            <option value="1">$1</option>
            <option value="5">$5</option>
            <option value="10">$10</option>
            <option value="25">$25</option>
            <option value="50">$50</option>
            <option value="100">$100</option>
            <option value="other">Other</option>
          </select>
            <input *ngIf="showAmountField"
              class="vldform__textbox halfwidth"
              type="number"
              name="pass2"
              placeholder="Enter the amount Paying (dollars)"
              required
              formControlName="amount"
            />
            <p
          
            *ngIf="formSubmitted && userpayment.get('amount').invalid"
          >
            Please Enter an Amount
          </p>

          <button (click)="validateForm()" class="vldform__button" id="submitButton" type="submit" *ngIf="!showPaymentButton">
            Give
          </button>
            <div *ngIf="showPaymentButton" class="mybtn" style="text-align: center;">
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--payment successful modal-->
<div class="modal modal-animate" id="paymentSuccessful" role="dialog" #paymentSuccessful>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(paymentSuccessful)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/icons/thankful.svg" style="width: 75%;" alt="" />
        <h2>
          Thankyou for your contribution.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(paymentSuccessful)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--payment successful modal-->
<div class="modal modal-animate" id="paymentFailed" role="dialog" #paymentFailed>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(paymentFailed)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/wrong.svg" style="width: 25%;" alt="" />
        <h2>
          Payment not completed. Please try again.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(paymentFailed)"
      >
        OK
      </button>
    </div>
  </div>
</div>