<div class="overlay"></div>
<div class="dashboard-content-wrapper dash-tab">
  <form class="dashboard-form" [formGroup]="form">
    <div class="dashboard-section basic-info-input">
      <h2 class="heading"><i data-feather="plus"></i>Edit Saved Blog</h2>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"> Title</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Title"
            formControlName="title"
          />
          <!-- <p style="color: red;" *ngIf="submited && form.get('title').invalid">
            Title is required!
          </p> -->
        </div>
      </div>

      <div class="dashboard-section media-inputs">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Blog Thumbnail</label>
          <div class="col-sm-9">
            <div class="input-group image-upload-input">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input
                    style="display: none"
                    type="file"
                    #file
                    (change)="onImagePick($event)"
                  />
                  <button type="button" (click)="file.click()">
                    Update Image
                  </button>

                </div>

              </div>
              <div class="active">
                <div class="upload-images">
                  <div class="pic">
                    <img style="width: 120px;" [src]="imagePreview" />
                  </div>
                </div>
              </div>
              <p style="color: red;" *ngIf="submited && form.get('image').invalid">
                Image is required!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <editor
        apiKey="1mdr5t4sq8x8e030pr726paflv3fa6rd7pe381xgfcvb6nii"
        [init]="tinymceInit"
        formControlName="data"
         ></editor>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col text-center">
        <button (click)="savedblog()" class="button" type="button">
          <span class="btn-loading-content">
            <i class="fa fa-circle-o-notch fa-spin"></i> Saving blog...
          </span>
          <span class="btn-default-content">
            Save Changes
          </span>
        </button>
      </div>
      <div class="col text-center">
        <button (click)="submit()" class="button" type="button">Post Blog</button>
      </div>
    </div>
  </form>

  <div class="blog-content">
    <button  type="button" (click)="this.modal.openModal('#blogView')">
     See Blog
    </button>
  </div>
</div>

<div class="modal fade" id="blogView" role="dialog" #blogView>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          (click)="modal.closeModal(blogView)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div [innerHTML]="htmlStr"></div>
      </div>

      <button
      type="button"
      class="btn btn-default"
      (click)="modal.closeModal(blogView)"
      style="max-width: 200px;"
    >
      Close
    </button>
    </div>
  </div>
</div>

<div class="modal fade" id="blogModal" role="dialog" #blogModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          (click)="modal.closeModal(blogModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <img
          src="assets/img/modals/question.svg
         "
          alt=""
          style="width: 35%;"
        />
        <h2>Are you sure you want to post this blog?</h2>

        <h5>The content will be cleared once you submit it.</h5>
      </div>

        <div class="container">
          <div class="row">
          <div class="col-6 text-center">
            <button
            type="button"
            class="btn btn-default"
            (click)="postBlog()"
          >
            Post Blog
          </button>
          </div>
          <div class="col-6 text-center">
            <button
            type="button"
            class="btn btn-default"
            (click)="modal.closeModal(blogModal)"
          >
            No
          </button>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="modal fade" id="saveModal" role="dialog" #saveModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          (click)="modal.closeModal(saveModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <img
          src="assets/img/modals/success.svg
         "
          alt=""
          style="width: 35%;"
        />
        <h2>Blog saved succesfully.</h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        (click)="modal.closeModal(saveModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="successModal" role="dialog" #successModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          (click)="modal.closeModal(successModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <img
          src="assets/img/modals/success.svg
         "
          alt=""
          style="width: 35%;"
        />
        <h2>Blog posted succesfully.</h2>
      </div>
      <button
      type="button"
      class="btn btn-default"
      (click)="modal.closeModal(successModal)"
    >
      OK
    </button>
    </div>
  </div>
</div>



