@import '../../../commonstyles/secondary-form-styles.scss';
@import '../../../commonstyles/modal-styles.scss';

.emp-registration {
    padding-top: 15vh;
    background: url(/assets/img/jobs/reg-bg.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }
  
  @media all and (max-width:768px){
    h1{
      font-size: 1.5rem;
     
      line-height: 2rem;
      letter-spacing: -1.4px;
    }
    .emp-registration{
      padding-top: 10vh;
      background-position-y: 3%;
    }
  }

  .btn-loading-content{
    display: none;
  }

  