@import '../../../../commonstyles/modal-styles.scss';
@import '../../../../commonstyles/dashboard-style.scss';

.status-btn{
    padding: 4px 8px;
    margin-top: 4px;
    border-radius: 2px;
}

.dashboard-recent-activity .activity-list {
    padding: 1.2rem 0.6rem;
    margin: 1rem 0;
    border-radius: 15px;
    
    background: #fff;
    align-items: center;
    transition: all 0.3s ease;

    .content{
        padding:0.4rem 0;
    }
    h5{
        margin-top: 0.2rem;
    }
    img{
        border-radius: 4px;
        height: 150px;
        object-fit: cover;
        object-position: center;
      }
    .close-activity{
        margin: 8px auto;
    }
    i{
        font-size: 15px;
    color: red;
    margin-right: 1px;
    }
}

.flex-btn{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}


@media all and (max-width:576px){
    .flex-btn{
        justify-content: center;
      }
}