/*-----------CARDS STYLING---------------------*/

/*---------category box styling------------*/
.categories {
  position: relative;
  h2{
    margin-bottom: 2rem;
  }
  .category-box,.subcategory-box{
    margin-bottom: 1rem;
    border-bottom: 1px #ccc solid;
    text-align: center;  
  }
  .category-box{
    height: 100px;
    img{
      width: 45px;
      margin: auto;
      margin: 0.2rem auto;
    }
    
  h6{
    font-size: 0.9rem;
  }
  }
}
.categories-card,.subcategories-card{
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 43%, 0.2);
  animation: ani .5s;
  padding:1rem 1.5rem;
  border-radius: 5px;
  animation-fill-mode: forwards;
  a{
    cursor: pointer;
  }
}

.subcategories-card{
  display: none;

h3{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: -0.05rem;
}
.subcategory-box {
  min-height: 45px;
  padding: 0.5rem;
  p{
      text-transform: capitalize;
      letter-spacing: -0.04rem;
      font-weight: 600;
      margin: 0;
      text-align: left;
    }
    img{
      width: 35px;
    }
}
}
.back-button{
position: absolute;
top: 1.2rem;
left: 1.2rem;
  background: none;
  i{
    font-size: 1.4rem;
    font-weight: bold;
  }
}

@keyframes ani {
    0% {
        opacity: 0;
        transform: translateY(5px)
    }

    to {
        opacity: 1;
        transform: translateY(-5px)
    }
}

/*-cards with eave background------------*/

.overlay-2 {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  background-image: url("/assets/img/blue-wave-small.png");
  filter: grayscale(1) brightness(10);
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
}

/*-------double stacked card styling*/
  .two-card{
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 0.4rem;
    border-radius: 7px;
    background: white;

    img{
      height: 165px;
      border-radius: 5px;
      object-fit: cover;
    object-position: top;
    }
    .blog-caption {
      width: 100%;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 200px;
      
      h5{
        margin: 0.5rem 0;
        font-weight: 700;
    }

    a:hover h5{
      color: #0C7BE2 !important;
    }

    .auth-img{
      img{
        margin:0.5rem auto 0.2rem;
        width: 45px;
        height: 45px;
        border-radius: 50% !important;
        padding: 1px;
        border: 1px solid #777;
      }

      p{
        text-align: center;
        color: #101010;
        font-size: 0.8rem;
        margin: 0;
      }
    }
    

    }

    }
    .blog-meta-data{
      font-size: 0.95rem;
      font-weight: 600;
      display: block;
      margin-top: 0.35rem;

    .author{margin:0 0 0.5rem ;
      text-align: center;
    font-weight: 600;
    opacity: 0.9;
    font-size: 0.75rem;
    }
    .likes{
        display: inline-block;
        font-weight:500;
          font-size: 0.8rem;
      i{
      color: red;
      margin-right: 6px;;
    }
  }
      .read{
        display: inline-block;
        font-weight:500;
        font-size: 0.8rem;
        float: right;
      }
    }
    .outer-card{
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      background: #0051c9;
      padding: 0.35rem;
      margin: 1rem auto;
      position: relative;
      overflow: hidden;
      max-width: 300px;
    }

    .outer-overlay{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: url(/assets/img/blue-wave-small.png);
      transform: rotate(180deg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;

      .auth-img{
        max-width: 120px;
        margin: auto;

      }
    }

    .outer-card-blue{
     // margin: 1rem 0.6rem;
      max-width: 100%;
      .two-card {
        .blog-img{
          img{
            height: 100% !important;
          }
        }
        
      }
      .blog-card{
        margin: 0;
        .blog-caption{
          height: auto;
        }
      }
    }
    .two-card{
      position: relative;
      z-index: 1;
    }

    .cover-photo{
      height:50vh;
        position: relative;
      background: linear-gradient(180deg, rgba(0, 31, 204, 0.82) 20%, rgba(255, 255, 255, 0.68) 100%), url(assets/img/landing/mission-wave-bg.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom ;
        background-attachment: fixed;
      .wave{
        position: absolute;
            background: url(/assets/img/white-wave.png);
            height: 100%;
            bottom: -30%;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
      }
    }

    @media screen and (max-width:520px){
      .cover-photo{
        height: 30vh;

      }}
