.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.658);
    height: 100vh;
    width: 100%;
    z-index: 1010;
    animation: fade_in forwards 0.2s forwards ease-in;
    display: none;
  }

  @keyframes fade_in{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .modal-content{
    animation: appear 0.3s forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    width: 100%;
    min-height: 90vh;
    display: flex;
    padding:0 0.5rem;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    position: relative;
  }
 .modal{
   overflow-y: scroll;
 }


 /* width */
.modal::-webkit-scrollbar {
  width: 0px;
}

  .modal-logo{
    text-align: center;
    margin-top: -2.5rem;
    img{
      max-width: 100px !important;
      margin-bottom: 0.5rem;
    }
  }

  .modal button{
    color: #101010;
    background: transparent;
    font-weight: bold;
    padding: 1rem;
    width: 80%;
    margin: 2rem auto;
    border: 2px solid #101010;
    transition:all 0.2s ease-in-out;
  }
  .modal button:hover{
    background-color: #101010;
    color: #fff;
  }
  
  .modal-head{
    text-align: right;
    button{
      margin: 0;
      box-shadow: none;
      width: 50px;
      font-size: 1.5rem;
    border: none; 
  border-radius: 0; 
  background-color: none !important;
  }
  }
  .modal-body{
    text-align: center;
    h2{
      text-align: center;
      color:#000;
      font-size: 1.5rem;
      letter-spacing: -0.5px;
      padding: 5px;
      margin: 0;
    }
    img{
      width: 65%;
      margin: 0rem auto 1rem;
    }
  }

 
  @keyframes appear {
    0%{
    transform:scale(0) ;
    }
    100%{
      transform: scale(1);
    }
 
  }

  @media all and (max-width:576px){
    .modal-dialog{
      margin: 0.5rem 0;
    }
  }