@import '../board';

.circle{
    &-1{
        top: 20%;
        left: 0;
        @include dimension(25rem);
        filter: blur(20rem);
        background-color: #ff8a6c ;
    }

    &-2{
        bottom: 0;
        right:0;
        @include dimension(15rem);
        filter: blur(18rem);
        transform: translate(-10%,0%);
        background-color: #b78aff;
    }

    &-3{
        top: 0;
        right: 0;
        @include dimension(8rem);
        filter: blur(8rem);
        transform: translate(-40%,-10%);
        background-color: #b5c9ff;
    }
}