
@import '../../../../commonstyles/modal-styles.scss';
@import '../author-edit-profile/author-edit-profile.component.scss';

.heading{
    text-align: left;
    border-bottom: 1px solid #999;
    margin: 0 0rem 3rem;
    padding-bottom: 1rem;
}

.blog-content{
    padding: 2rem;
    text-align: center;
}

.modal{
    overflow-y: scroll;
}