@import '../chapters';
@import 'mixins';

.introduction{
    padding-top:7rem;

    @include res(lg){
        padding-top: 8rem;
    }

    @include res(md){
        padding-top: 10vh;
    }

    @include res(sm){
        padding-top: 8vh;
    }
}
.img-grid{
    background-color: #fff3d9;
    display: flex;
    align-items: center;
    box-shadow: none !important;
    border: 1.2px solid #430c1da6;
    justify-content: center;

    img{
        width: 75%;
        object-fit: contain;
    }
}
.working{
    &-box{
    margin: 2rem 0;
    display: flex;
    text-align: left;
    margin-top: 2rem;
    @include res(sm){
        margin: 1rem 0;
    }
   
}
&-card{
    width: 100px;
    height: 100px;
    margin:0;
   
}
&-content{
    padding-left: 1.5rem;

    h2,h4{
        text-align: left;
    }
}
}