<section class="introduction">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2 class="text-lg-left text-center">
          Add chapters to
          <span class="text-blue">Bring a Smile</span>
        </h2>

        <p class="text-lg-left text-center mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum natus
          fuga vero amet nostrum eveniet reprehenderit, velit perspiciatis
          inventore veritatis repellendus placeat consequatur odio ex quis
          corrupti quidem corporis. Velit aliquid officia dolorem hic
          architecto!
        </p>

        <div class="stats">
          <div class="row">
            <div class="col-lg-12 col-sm-6">
              <div class="working-box">
                <div class="working-card">
                  <img src="assets/img/bas/chapter.svg" alt="" />
                </div>
                <div class="working-content">
                  <h2 class="m-0">3</h2>
                  <h4 class="text-gray mt-1">Chapters</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-6">
              <div class="working-box">
                <div class="working-card">
                  <img src="assets/img/bas/money.svg" alt="" />
                </div>
                <div class="working-content">
                  <h2 class="m-0">203K</h2>
                  <h4 class="text-gray mt-1">Funds Raised</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-6">
            <div class="img-grid shadow">
              <img src="assets/img/bas/hyderabad-small.jpg" alt=""  style="object-position: left;"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="img-grid shadow">
              <img src="assets/img/bas/indore-small.jpg" alt=""/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="img-grid shadow translate-up">
              <img src="assets/img/bas/agartala-small.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="successful-chapters pt-0">
  <div class="container">
    <h2 class="text-center">
       <span class="text-blue">See all</span> chapters
    </h2>
    <p class="text-center">
      See how some of this chapters are prospering with the help of Bring a
      Smile.
    </p>

    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-6 col-xs-8">
        <div class="chapter-card">
          <div class="chapter-img">
            <img src="assets/img/bas/indore.jpg" alt="" />
          </div>
          <div class="chapter-content">
            <h4>Indore</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              nostrum?
            </p>

            <a routerLink="./indore">View More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-8">
        <div class="chapter-card">
          <div class="chapter-img">
            <img src="assets/img/bas/hyderabad.jpg" alt="" />
          </div>
          <div class="chapter-content">
            <h4>Hyderabad</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              nostrum?
            </p>

            <a routerLink="./hyderabad">View More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-8">
        <div class="chapter-card">
          <div class="chapter-img">
            <img src="assets/img/bas/agartala.jpg" alt="" />
          </div>
          <div class="chapter-content">
            <h4>Agartala</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              nostrum?
            </p>

            <a routerLink="./agartala">View More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-8">
        <div class="chapter-card">
          <div class="chapter-img">
            <img src="assets/img/bas/lucknow.jpg" alt="">
          </div>
          <div class="chapter-content">
            <h4>
              Lucknow
            </h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, nostrum?
            </p>
            <a routerLink="/owa-bas/chapters/lucknow">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>