@import '../../../../commonstyles/dashboard-style.scss';
@import '../../../../commonstyles/modal-styles.scss';

h4 {
    margin-bottom: 2rem !important;
    font-size: 1.8rem !important;
    letter-spacing: -0.8px !important;
    border-bottom: 2px solid #ccc !important;
    padding-bottom: 1rem !important;
    text-transform: capitalize !important;
    font-weight: 600 !important;
  
    svg {
      margin-right: 8px !important;
      font-size: 2rem !important;
      color: #000 !important;
      margin-top: -6px;
    }
  }

  form p {
    font-size: 0.8rem;
    margin:0.5rem 0!important;
    text-align: left !important;
    color: rgb(189, 28, 28);
    animation: pop_in 0.3s ease-in-out;
  }
  
  @keyframes pop_in{
    0%{
      opacity: 0;
      transform: translateY(4px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }
