<div class="overlay"></div>

<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>Contact Us
    </h1>
    <!-- <h3>Complete and submit the form below.
    </h3> -->
  </div>
</section>

<section class="section-intro">
    <div class="container">
      <div class="intro-content">
        <div class="row align-items-center">
          <div class="col-lg-6 left-content">
            <img src="assets/img/landing/contact-img.png" alt="" class="login-img" />
          </div>
          <div class="col-lg-6">
            <div class="form-box">
              <form
                class="vldform vldauth"
                [formGroup]="user"
                (submit) = "contact()"
              >
                <h1>Contact Us</h1>
                <input
                class="vldform__textbox"
                type="text"
                name="name"
                placeholder="Name"
                required
                formControlName="name"
              />
              <p *ngIf="submitted && user.get('name').invalid">
                Name is required!
              </p>
                <input
                  class="vldform__textbox"
                  type="text"
                  name="email"
                  placeholder="Email"
                  required
                  formControlName="email"
                />
                <div *ngIf="submitted && user.get('email').invalid">
                  <p *ngIf="user.get('email').errors.required">
                    Please enter your email!
                  </p>
                  <p *ngIf="user.get('email').errors.email">
                    Please enter a valid email!
                  </p>
                </div>
                <input
                  class="vldform__textbox"
                  type="text"
                  name="pass"
                  placeholder="Subject"
                  required
                  formControlName="subject"
                />
                <p *ngIf="submitted && user.get('subject').invalid">
                  Subject is required!
                </p>
                <textarea formControlName="message" class="vldform__textbox" placeholder="Message" id="description" name="message" rows="2" style="height: 100px;" spellcheck="false"></textarea>
                <p *ngIf="submitted && user.get('message').invalid">
                  Message is required!
                </p>
                <button type="submit" class="vldform__button" (click)="modal.showBtnLoader()">
                  <span class="btn-loading-content">
                    <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                  </span>
                  <span class="btn-default-content">
                   Submit
                  </span>
                </button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>


<!--form submitted successful modal-->
<div class="modal modal-animate" id="successModal" role="dialog" #successModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(successModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/img/icons/thankful.svg" style="width: 50%;" alt="" />
        <h2>
          Thank you for interest in OneWater Academy and for contacting our team. We will get back to you shortly. 

        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(successModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>