<section class="hero-section">
  <div class="container">
    <div class="hero-wrapper">
      <div class="text-center">
        <img src="assets/img/bas/smile.gif" class="smile" alt="" />
      </div>

      <h1 class="hero-text">Bring a Smile</h1>
      <h3 class="hero-quote">
        We believe that all he who wished to secure the good of others, has
        already secured his own.
      </h3>
    </div>
  </div>
  <img src="assets/img/wave-narrow.svg" class="wave-absolute" alt="" />
</section>

<section class="introduction">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="text-lg-left text-center">
          A brief introduction of <br />
          <span class="text-blue">Bring a Smile</span>
        </h2>

        <p class="text-lg-left text-center">
          Bring A Smile Foundation began in 2012, with the intent of being a
          conduit between the haves and the have-nots. Whether it's education,
          infrastructure assistance or distribution of used but reusable items,
          this journey has seen us create impact in thousands of lives.
        </p>

        <div class="numbers-container">
          <div class="numbers">
            <h2 class="head">Over USD 56,000</h2>
            <p class="text">raised in 3 years</p>
          </div>
          <div class="numbers">
            <h2 class="head">Over 50 tonnes</h2>
            <p class="text">of reusable material distributed</p>
          </div>
          <div class="numbers">
            <h2 class="head">250+ kids'</h2>
            <p class="text">education supported</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-6">
            <div class="img-grid shadow">
              <img src="assets/img/bas/1.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="img-grid shadow">
              <img src="assets/img/bas/2.jpeg" alt="" />
            </div>
          </div>
          <div class="col-6">
            <div class="img-grid shadow translate-up">
              <img src="assets/img/bas/3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="achievements">
  <div class="container">
    <div class="stats">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-6">
          <div class="working-box">
            <div class="working-card">
              <img src="assets/img/bas/vol.svg" alt="" />
            </div>
            <div class="working-content">
              <h2 class="m-0">400+</h2>
              <h4 class="text-gray mt-1">Volunteers</h4>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-6">
          <div class="working-box">
            <div class="working-card">
              <img src="assets/img/bas/chapter.svg" alt="" />
            </div>
            <div class="working-content">
              <h2 class="m-0">150+</h2>
              <h4 class="text-gray mt-1">Donors</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="working-box">
            <div class="working-card">
              <img src="assets/img/bas/gate-of-india.svg" alt="" />
            </div>
            <div class="working-content">
              <h2 class="m-0">7</h2>
              <h4 class="text-gray mt-1">Indian Cities</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="working-box">
            <div class="working-card">
              <img src="assets/img/bas/geography.svg" alt="" />
            </div>
            <div class="working-content">
              <h2 class="m-0">4</h2>
              <h4 class="text-gray mt-1">Geographies</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bas-info">
  <div class="container">
    <h2 class="text-center mt-4 mb-5">
      How we <span class="text-blue">started</span>
    </h2>
    <div class="row justify-content-between align-items-center mb-5">
      <div class="col-lg-5 col-md-6">
        <p class="text-md-left text-center">
          In 2012, a group of people led by <a class="text-600" href="https://twitter.com/arch2020" target="_blank" style="text-decoration: underline;"> Archana Suresh</a> came together to
          collect old but reusable items (clothes, toys, footwear, utensils
          etc.) in an apartment community in Hyderabad, India. The only thing
          they had in common - unbridled passion to help the underprivileged. Up
          until 2020, this group of people that called itself Bring A Smile
          Foundation, has reached many milestones. Notable among them,
          distribution of more than 50 tons of basic necessities in 7 cities and
          4 rural areas of India.
        </p>
      </div>

      <div class="col-lg-5 col-md-6">
        <div class="img-1">
          <img src="https://bringasmilefoundation.org/images/lightbox-images/orphanage1.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="row justify-content-between mt-3 align-items-center mb-5">
      <div class="col-lg-5 col-md-6 order-md-first">
        <div class="img-1 order-first">
          <img
            src="https://i.pinimg.com/originals/f6/8f/50/f68f5060eee6fddb15761901c4e48947.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5 col-md-6 order-first">
        <p class="text-md-left text-center">
          From education to infrastructure assistance, Bring A Smile Foundation
          has been relentless in it's pursuit to improve lives.

          <br /> <br />
          Educating over 250 school children from economically backward strata,
          building classrooms / orphanage infrastructure in 4 government schools
          and 3 destitute homes, and partnering with various collaborators
          working across the spectrum of the UN's Sustainable Development Goals
          has seen this registered charitable Trust take the form of a movement.
        </p>
      </div>
    </div>

    <div class="row justify-content-between align-items-center mb-4">
      <div class="col-lg-5 col-md-6">
        <p class="text-md-left text-center">
          The pandemic has seen Bring A Smile Foundation double down in its
          effort to alleviate suffering of people especially by distribution of
          food, sanitary pads and masks.
          <br /> <br />
          There is also the additional objective to bridge the Digital Divide
          for underprivileged children by working closely with Information
          Technology companies (for refurbished laptops) and various Government
          departments, to make online education accessible to all.
        </p>
      </div>

      <div class="col-lg-5 col-md-6">
        <div class="img-1">
          <img
            src="https://images.news18.com/ibnlive/uploads/2020/04/Noida-coronavirus.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="vision-mision pt-0">
  <div class="container">
    <h2 class="text-center">
      What drives <span class="text-blue">Bring a Smile</span>
    </h2>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="mv-box">
          <div class="row justify-content-around">
            <div class="col-md-4 col-sm-8 col-10">
              <h2>Vision</h2>
              <img src="assets/img/bas/vision.svg" alt="" />
              <p>To create ripples of action through empathy and compassion.</p>
            </div>

            <div class="col-md-4 col-sm-8 col-10">
              <h2>Mission</h2>

              <img src="assets/img/bas/mission.svg" alt="" />
              <p>
                To partner with individuals and organizations and create
                economically sustainable communities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-2">
  <div class="container">
    <h2 class="text-center mb-5">
      <span class="text-blue">Bring a smile </span> is operated at multiple
      hierarchies with complete transparency.
    </h2>
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-md-6">
        <div class="bg-img">
          <img src="assets/img/bas/main.jpg" class="shadow-2xl" />
          <div class="bg-img-shape"></div>
        </div>
      </div>
      <div class="col-lg-5 col-md-6">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
        <h3 class="text-gray">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
          architecto et
        </h3>

        <h3>
          <span class="text-blue"> OneWater Academy </span>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. In alias
          officia dolor!
        </h3>
      </div>
    </div>
  </div>
</section>

<section class="boards-section mt-3">
  <div class="container">
    <h2 class="text-center">
      We are operated by <span class="text-blue">3 main boards</span>.
    </h2>

    <div class="row">
      <div class="col-md-4">
        <div class="board-card">
          <div class="board-img">
            <a routerLink="./boards/american">
              <img src="assets/img/bas/usa-icon.svg" alt="" />
            </a>
          </div>
          <h4>American Board</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In eveniet,
            dolores impedit quisquam voluptates officiis.
          </p>
          <a routerLink="./boards/american" class="btn-white">Know More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="board-card">
          <div class="board-img">
            <a routerLink="./boards/indian">
              <img src="assets/img/bas/india-icon.png" alt="" />
            </a>
          </div>
          <h4>Indian Board</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In eveniet,
            dolores impedit quisquam voluptates officiis.
          </p>
          <a routerLink="./boards/indian" class="btn-white">Know More</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="board-card">
          <div class="board-img">
            <a routerLink="./boards/canadian">
              <img src="assets/img/bas/canada-icon.svg" alt="" />
            </a>
          </div>
          <h4>Canadian Board</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In eveniet,
            dolores impedit quisquam voluptates officiis.
          </p>
          <a routerLink="./boards/canadian" class="btn-white">Know More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="chapters-introduction">
  <div class="container">
    <h2 class="text-center mb-4">
      Add a <span class="text-blue">Chapter</span> to add more smiles
    </h2>

    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-md-6">
        <h3 class="text-md-left text-center">
          <span class="text-blue">Chapters</span> comes below the boards in
          hierarchy.
        </h3>

        <p class="text-md-left text-center mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
          mollitia, magni sit ut officia animi deserunt illo quas aliquid vero
          fugit porro ad quod voluptates iste iusto neque molestias obcaecati et
          incidunt soluta quis aperiam reprehenderit dolores? Rerum qui non
          laboriosam neque, consectetur molestias explicabo.
        </p>
      </div>

      <div class="col-lg-5 col-md-6">
        <div class="img-1">
          <img src="assets/img/landing/founding-1.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="row justify-content-between mt-3 align-items-center">
      <div class="col-lg-5 col-md-6 order-md-first">
        <div class="img-1 order-first">
          <img
            src="https://images.pexels.com/photos/159935/pexels-photo-159935.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-5 col-md-6 order-first">
        <h3 class="text-md-left text-center">
          Start you own <span class="text-blue">chapter.</span>
        </h3>

        <p class="text-md-left text-center mt-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          eligendi dolorem eum id quo placeat quasi dicta dolores repudiandae?
          Autem officiis dolore esse eligendi quibusdam illum, atque iste eum
          iusto expedita quod, consequuntur vero enim?
        </p>

        <div class="d-flex justify-content-between">
          <a
            routerLink="./chapters"
            class="btn-white btn-sm d-none d-md-inline-block"
          >
            View all chapters
          </a>
          <a href="" class="btn-dark btn-sm d-none d-md-inline-block">
            Start your chapter
          </a>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between d-block d-md-none mt-5">
      <a routerLink="./chapters" class="btn-white btn-sm">
        View all chapters
      </a>
      <a href="" class="btn-dark btn-sm"> Start your chapter </a>
    </div>
  </div>
</section>

<section class="successful-chapters">
  <div class="container">
    <h2 class="text-center">
      Our <span class="text-blue">successful</span> chapters
    </h2>
    <p class="text-center">
      See how some of this chapters are prospering with the help of Bring a
      Smile.
    </p>

    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-6 col-xs-8">
        <div class="chapter-card">
          <div class="chapter-img">
            <img src="assets/img/bas/indore.jpg" alt="" />
          </div>
          <div class="chapter-content">
            <h4>Indore</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              nostrum?
            </p>

            <a routerLink="./chapters/indore">View More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-8">
        <div class="chapter-card">
          <div class="chapter-img">
            <img src="assets/img/bas/hyderabad.jpg" alt="" />
          </div>
          <div class="chapter-content">
            <h4>Hyderabad</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              nostrum?
            </p>

            <a routerLink="./chapters/hyderabad">View More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-8">
        <div class="chapter-card">
          <div class="chapter-img">
            <img src="assets/img/bas/agartala.jpg" alt="" />
          </div>
          <div class="chapter-content">
            <h4>Agartala</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              nostrum?
            </p>

            <a routerLink="./chapters/agartala">View More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-8">
        <div class="chapter-card">
          <div class="chapter-img">
            <img src="assets/img/bas/lucknow.jpg" alt="">
          </div>
          <div class="chapter-content">
            <h4>
              Lucknow
            </h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, nostrum?
            </p>
            <a routerLink="/owa-bas/chapters/lucknow">View More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="d-flex justify-content-between">
          <a routerLink="./chapters" class="btn-white"> View all chapters </a>
          <a href="" class="btn-dark"> Start your chapter </a>
        </div>
      </div>
    </div>
  </div>
</section>
