/*

global styles for website video

*/
.video-section {
  margin: 0px 0;
  padding: 0 !important;
}

.video-section section {
  padding: 0 !important;
}

.thumbnail-card {
  background: #fff;
  padding: 0;
  margin: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.thumbnail-card .thumb-img {
  position: relative;
  overflow: hidden;
}

.thumbnail-card .thumb-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.thumbnail-card .thumb-img .hover-play {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  opacity: 0;
  background: #285aec9c;
}

.thumbnail-card .thumb-img .hover-play i {
  font-size: 2.5rem;
  color: white;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.thumbnail-card .thumb-caption {
  position: relative;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumbnail-card .thumb-caption h5 {
  line-height: 1.5rem;
  margin: 0.5rem;
}

.thumbnail-card .thumb-caption .video-metadata {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thumbnail-card .thumb-caption .video-metadata .views, .thumbnail-card .thumb-caption .video-metadata .date {
  margin: 0 2px;
  font-weight: 600;
  font-size: 11px;
  color: #444;
}

.thumbnail-card .thumb-caption .video-metadata .date {
  text-align: right;
}

.thumb-img {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumb-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.thumbnail-card:hover .thumb-img .hover-play {
  opacity: 1;
}

.thumbnail-card:hover .thumb-img .hover-play i {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.thumbnail-card:hover .thumb-caption h3 {
  color: #0C7BE2;
}

.channel {
  font-weight: 500;
  font-size: 14px;
  color: #666;
  display: none !important;
}

.cover-photo {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 31, 204, 0.82)), to(rgba(255, 255, 255, 0.68))), url(/assets/img/home-bg.jpg);
  background: linear-gradient(180deg, rgba(0, 31, 204, 0.82) 20%, rgba(255, 255, 255, 0.68) 100%), url(/assets/img/home-bg.jpg);
  height: 100vh;
  background-position-x: 78%;
  background-attachment: fixed;
}

.cover-photo .wave {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  bottom: -30%;
}

.author-btn {
  text-align: center;
  margin: 30px 0px 0;
  z-index: 10;
  position: relative;
  background: #d5e7f2;
}

.author-btn .reg-text {
  padding: 75px 0;
}

.author-btn h3 {
  text-align: center;
  margin: 2rem auto;
  color: #000c61;
  font-weight: 600;
}

.author-btn a {
  text-align: center;
  border-radius: 3px;
  color: #000c61;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 1rem;
  background: #f9f9f9;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.author-btn a:hover {
  color: #fff;
  background: #246df8;
}

.author-btn img {
  width: 80%;
  max-width: 350px;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 0.8rem;
}

.single-category {
  margin: 1.6rem auto;
  max-width: 200px;
  text-align: center;
  cursor: pointer;
}

.single-category img {
  width: 35%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin: 1.5rem auto;
}

.single-category .card-shadow {
  border-radius: 8px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.single-category .card-shadow:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.landing-section {
  min-height: 110vh;
  margin-top: -95vh;
  padding-bottom: 0;
}

.landing-section .landing-text {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.landing-section .landing-text h2 {
  text-align: left;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -3.5px;
  margin: 2rem auto;
}

.landing-section .landing-text p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  margin: 2rem auto;
  position: relative;
  z-index: 5;
}

.landing-section p {
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: -1px;
}

.landing-video {
  text-align: center;
  margin: 2rem 0 5rem;
  position: relative;
}

.landing-video .iframe-container {
  z-index: 2;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.43);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.43);
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.landing-video .iframe-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.landing-video img {
  width: 50%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.landing-video::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 90%;
  top: 35%;
  left: -10%;
  background: url(/assets/img/video-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10%;
}

.landing-video::after {
  content: "";
  position: absolute;
  height: 69%;
  width: 100%;
  top: -35%;
  left: 5%;
  background: url(/assets/img/video-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 88%;
  z-index: 0;
}

.sidebar-videos .thumbnail-card {
  position: relative;
  margin: 0.8rem 0;
  min-height: 110px;
}

.sidebar-videos .thumbnail-card .col-7 {
  padding-left: 4px !important;
  padding-right: 16px !important;
}

.sidebar-videos .thumb-caption h3 {
  font-size: 0.9rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.1rem;
  letter-spacing: -0.5px;
}

.sidebar-videos .thumb-img {
  height: 100%;
  position: absolute;
}

.sidebar-videos .thumb-img img {
  height: 100%;
}

.sidebar-videos .thumb-caption {
  height: 100%;
}

.sidebar-videos .video-metadata {
  padding: 0.5rem;
}

.sidebar-videos .channel {
  font-size: 0.9rem;
}

.top-videos {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, rgba(255, 255, 255, 0.269345)), color-stop(85%, rgba(231, 241, 247, 0.83237)), to(#d5e7f2));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.269345) 70%, rgba(231, 241, 247, 0.83237) 85%, #d5e7f2 100%);
}

.top-videos .col-sm-6 {
  padding: 0 4px 4px !important;
}

.top-videos .col-md-6 {
  padding: 8px;
}

.vod-big-wrap {
  padding: 0 5px;
}

.vod-small .thumb-caption {
  position: absolute;
  bottom: 0;
  min-height: 40px !important;
}

.vod-small .thumb-caption h3 {
  font-size: 0.9rem !important;
  color: #fff;
  text-align: left;
  letter-spacing: -0.4px !important;
}

.vod-small .video-metadata {
  display: none;
}

.vod .hover-play {
  opacity: 1 !important;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(0, 0, 0, 0.835172)), to(rgba(255, 255, 255, 0))) !important;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.835172) 15%, rgba(255, 255, 255, 0) 100%) !important;
}

.vod h2 {
  border: none;
}

.vod .thumbnail-card {
  margin: auto;
  background: transparent;
  border-radius: 0px;
  overflow: hidden;
}

.vod .thumbnail-card .thumb-img {
  height: auto;
  margin: 0rem auto;
}

.vod .thumbnail-card .thumb-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 120px;
}

.vod .thumbnail-card .thumb-caption h3 {
  margin: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  text-align: left;
  letter-spacing: -0.7px;
}

.vod .thumbnail-card .channel {
  display: none;
}

.vod .thumbnail-card .video-metadata {
  width: 100%;
  padding: 0.5rem;
}

.vod .thumbnail-card .video-metadata .row {
  width: 100%;
}

.vod .thumbnail-card .video-metadata .views, .vod .thumbnail-card .video-metadata .date {
  color: rgba(255, 255, 255, 0.664);
  font-size: 0.8rem;
}

@media screen and (max-width: 991px) {
  .cover-photo {
    height: 70vh;
  }
  .landing-section {
    margin-top: -65vh;
    min-height: auto;
  }
  .vod-big-wrap {
    padding: 0 2vw;
  }
  .vod .thumbnail-card {
    width: 100%;
    margin-bottom: 1rem;
  }
  .vod-small .thumbnail-card {
    width: 94%;
  }
  .sidebar-videos .thumb-caption h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .vod-small {
    width: 94%;
    margin: auto;
  }
  .cover-photo {
    height: 100vh;
  }
  .landing-section {
    min-height: auto !important;
    margin-top: -100vh;
  }
  .landing-section .landing-text h2 {
    font-size: 3.5rem;
    text-align: center;
  }
  .landing-section .landing-text p {
    width: 90%;
    text-align: center;
  }
  .landing-video {
    padding: 1.5rem 0;
    margin-bottom: 0;
  }
  .landing-video:before {
    display: none;
  }
  .landing-video:after {
    top: -20%;
  }
  .vod {
    margin-bottom: 1.5rem;
  }
  .vod .thumbnail-card {
    width: 100%;
  }
  .vod .thumbnail-card .thumb-img {
    height: 30vh;
  }
  .vod .thumbnail-card .thumb-caption h3 {
    font-size: 1.25rem;
  }
  .sidebar-videos .thumbnail-card {
    margin: 1.2rem 0;
  }
  .see-more {
    margin: 3rem auto;
  }
  .see-more a {
    font-size: 1.1rem;
    border: 2px solid #0C7BE2;
    padding: 0.5rem;
  }
  .author-btn {
    text-align: center;
  }
}

.see-more {
  margin-top: 70px;
}

.see-more a {
  font-size: 1.1rem;
  letter-spacing: -1px;
  font-weight: 600;
  border: 2px solid #0C7BE2;
  padding: 0.5rem;
}

@media screen and (max-width: 576px) {
  .vod-big-wrap {
    padding: 0 15px;
  }
  .vod .thumbnail-card .thumb-caption {
    min-height: auto;
  }
  .vod-small .thumb-caption h3, .vod .thumb-caption h3 {
    font-size: 1.2rem !important;
  }
  .vod .hover-play {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(45%, rgba(0, 0, 0, 0.835172)), to(rgba(255, 255, 255, 0))) !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.835172) 45%, rgba(255, 255, 255, 0) 100%) !important;
  }
}

@media screen and (max-width: 360px) {
  .sidebar-videos .thumb-caption {
    height: 120px;
  }
  .sidebar-videos .thumb-caption h3 {
    font-size: 0.9rem;
  }
  .sidebar-videos .thumbnail-card {
    height: 120px;
  }
}
/*# sourceMappingURL=home.component.css.map */