@import "../blog.scss";

.blogpost {
  &-header {
    height: 80vh;
    position: relative;
    //background-image:linear-gradient(-227.87deg, #e3e9ff83 2.14%, rgba(233, 235, 255, 0) 89.91%, #ffffffb0 89.91%);
    background-size: 100%;
    background-position: center;

    background-attachment: fixed;
    @include res(lg){
        height: 70vh;
    }
    @include res(md){
        height: 60vh;
    }
    @include res(xs){
        height: 40vh;
    }
    .bottom-wave {
      bottom: -1px;
      z-index: 1;
    }
    .gradient-image {
      background-image: linear-gradient(
        to bottom right,
        #355bffba 25%,
        #4d81ffc4 60%,
        #4de3ffd6
      );
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
    }
  }

  &-body {
    margin-top: -10vh;
    position: relative;
    z-index: 2;

    @include res(lg){
        margin-top: -5vh;
    }
    @include res(md){
        margin-top: -2vh;
    }
  }

  &-heading{
      padding-bottom: 1.2rem;
      margin-bottom: 0.5rem;

      @include res(xs){
          padding-bottom: 0.8rem;
      }
  }

  &-category{
    padding: 0.3rem 0.6rem;
    background-color: #f7f7f7;
    border: 1.4px solid rgb(202, 202, 202);
    border-radius: 10px;
    
    display: inline-block;
  }

  &-author{
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    border-top: 1px solid rgba(0, 0, 0, 0.082);
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    &-img{
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      padding: 4px;
      border: 2px solid #ccc;
      overflow: hidden;

      @include res(sm){
        height: 4rem;
        width: 4rem;
      }
    }

    &-text{
      margin-left: 1rem;
      h6{
        opacity: 0.7;
      }
      h5{
        margin-top: 0;
      }
    }
  }
}
