<!-- BEGIN Blog Post -->
<!-- <div class="cover-photo" [ngStyle]="{'background-image': 'url(' + blog.image + ')'}"> -->
<div class="cover-photo">
  <div class="gradient-image"></div>
  <div class="wave"></div>
</div>
<div class=" blog-post-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="post-top">
          <h1>{{blog?.title}}</h1>
          <div class="article-meta" *ngIf="blog?.author_name">
            <img [src]="blog?.author_image" alt="Author" />
            <div class="meta-data">
              <span class="meta-author">By <a [routerLink]="['/onewaterblog/authorprofile/', blog?.author_id]">{{blog?.author_name}}</a>  </span><br />
              <!-- <span class="meta-date">About admin</span> -->
            </div>
          </div>
<!--
          <div class="row">
            <div class="col-md-12">
              <p class="teaser top-teaser">
                <strong >Category</strong> : <span *ngFor="let category of blog.category">{{category}} </span>

              <br><br>

                <strong style="color: #101010;">Category </strong> : <span>Category</span> <span>Sub category</span>
                <br><br>

              </p>
            </div>
          </div> -->




            <div class="blog-content" [innerHtml]="blog?.desc">


          </div>
          <div class="blog-options">
            <div class="like-btn"  *ngIf="!liked && auth.user_id">
              <h6>Like :</h6>
              <a (click)="likeblog()">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <span>liked!</span>
            </div>
            <div class="like-btn" *ngIf="liked">
              <h6>Liked</h6>
              <a class="press">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <span>liked!</span>
            </div>
            <div class="share-btn">
              <h6>Share on :</h6>
              <button><fb-like url="{{ url }}"></fb-like></button>
              <button style="transform: translateY(7px);"><tweet url="{{ url }}" text="{{ url }}"></tweet></button>
              <button><linkedin-share url="{{ url }}"></linkedin-share></button>
            </div>
          </div>

          <div class="meta-bio author-box" *ngIf="blog?.author_name">
            <a [routerLink]="['/onewaterblog/authorprofile/', blog?.author_id]">
              <img [src]="blog?.author_image" alt="" />
            </a>
            <div class="bio-text">
              <p class="bio-shl">Author</p>
              <p class="bio-hl">
                <a [routerLink]="['/onewaterblog/authorprofile/', blog?.author_id]">{{blog?.author_name}}</a>
              </p>
              <!-- <p>about admin...</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
