
<div class="admin-header-mobile card-shadow">
    <div class="logo-mobile">
      <a routerLink="/home"><img src="/assets/img/ow-logo1.png" alt="" /></a>
      
    </div>
 
  <div class="admin-buttons">
    <div class="profile-img">
      <a class="dropdown-btn" (click)="toggleDropdown('logout')">
        <img src="{{author?.image}}" alt="" >
        <div class="dropdown-content card-shadow" id="logout">
          <a (click)="logout()">Logout</a>
        </div>
      </a>
    </div>

    <div class="sidebar-toggle">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class=" no-gliters">
  <div class="row no-gliters">
    <div class="col">
      <div class="dashboard-container">
      <div class="dashboard-tabs-wrap">
          <router-outlet></router-outlet>
      </div>
        <div class="dashboard-sidebar">
          <div class="logo">
            <img src="/assets/img/ow-logo-white.png" alt="" />
          </div>
          <div class="sidebar-header">
            <h4>Author Dashboard</h4>
          </div>
          <div class="company-info">
            <div class="thumb">
              <img
                src={{author?.image}}
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="company-body">
              <h5>Hi, {{author?.name}}</h5>
            </div>
          </div>

          <div class="dashboard-menu">
            <ul>
              <li routerLinkActive="activetab" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-bar-chart"></i
                ><a [routerLink]="['./']">Dashboard</a>
              </li>
              <li routerLinkActive="activetab">
                <i class="fa fa-pencil-square"></i
                ><a [routerLink]="['./all-blogs']">All Blogs</a>
              </li>
              <li routerLinkActive="activetab">
                <i class="fa fa-check"></i
                ><a [routerLink]="['./approved-blogs']">Approved Blogs</a>
              </li>
              <li routerLinkActive="activetab">
                <i class="fa fa-clock-o"></i
                ><a [routerLink]="['./pending-blogs']">Pending Blogs</a>
              </li>
              <li routerLinkActive="activetab">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
                <a [routerLink]="['./saved-blogs']">Saved Blogs</a>
              </li>
              <!-- <li routerLinkActive="activetab">
                  <i class="fa fa-bars"></i
                  ><a [routerLink]="['./videos']">All Videos</a>
                </li> -->
              <li routerLinkActive="activetab">
                <i class="fa fa-plus-square"></i
                ><a [routerLink]="['./post-blog']">Post New Blog</a>
              </li>
              <!-- <li routerLinkActive="activetab">
                <i class="fa fa-video-camera"></i
                ><a [routerLink]="['./post-video']">Post New Video</a>
              </li> -->
              <li routerLinkActive="activetab">
                <i class="fa fa-user"></i
                ><a [routerLink]="['./edit-profile']">Edit Profile</a>
              </li>
              <li >
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                <a [routerLink]="['/onewaterblog']" class="web-btn">Go to OneWater Blogs</a>
              </li>
            </ul>
            <ul class="delete">
              <li>
                <i class="fa fa-power-off"></i
                ><a (click)="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Profile Modal -->
<div
  class="modal fade modal-delete"
  id="modal-delete"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4><i data-feather="trash-2"></i>Delete Account</h4>
        <p>
          Are you sure! You want to delete your profile. This can't be undone!
        </p>
        <form action="#">
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Enter password"
            />
          </div>
          <div class="buttons">
            <button class="delete-button">Save Update</button>
            <button class="">Cancel</button>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" checked="" />
            <label class="form-check-label"
              >You accepts our <a href="#">Terms and Conditions</a> and
              <a href="#">Privacy Policy</a></label
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
