@import '../board';
.board{
    &-hero{
       padding:5vh 0;
    }
}
.circle{
    &-1{
        top: 0;
        left: 0;
        @include dimension(30rem);
        filter: blur(20rem);
        background-color: #ffd0a5;
    }

    &-2{
        bottom: 0;
        right:0;
        width: 100%;
        @include dimension(15rem);
        filter: blur(8rem);
        transform: translate(-10%,0%);
        background-color: #ceeaff;
    }

    &-3{
        top: 0;
        right: 0;
        filter: blur(13rem);
        @include dimension(20rem);
        transform: translate(10%,0%);
        background-color: #ffb9ad;
    }

    &-4{
        bottom: 0;
        left: 0;
        filter: blur(50rem);
        @include dimension(25rem);
        transform: translate(20%,0%);
        background-color: #ffbc7d;
    }
}
.mandala{
    position: absolute;
    width: 15rem;
    z-index: 2;

    @include res(md){
        width: 20vw;
    }
    @include res(xs){
        width: 25vw;
    }
    &-right{
        right: 0;
        bottom: 0;
        //transform: translate(50%,50%);
    }
    &-bottom{
        left: 0;
        bottom: 0;
       // transform: translate(-50%,50%);
    }
}