<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Our Pricing
    </h1>
  </div>
</section>

<section class="pricing-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="outer-card">
          <div class="outer-overlay"></div>
          <div class="two-card pricing-card">
            <div class="pricing-img">
              <img src="assets/img/icons/p1.png" alt="">
            </div>
            <div class="pricing-number">
              <span>$</span>
              50
            </div>
  
            <h3 class="pricing-title">
              Basic Plan
            </h3>
  
            <div class="pricing-content">
              <ul class="list">
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li><li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
              </ul>
  
              <div class="text-center mt-4">
                <button class="btn"> Buy the plan </button>
              </div>
          
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="outer-card">
          <div class="outer-overlay"></div>
          <div class="two-card pricing-card">
            <div class="pricing-img">
              <img src="assets/img/icons/p2.png" alt="">
            </div>
            <div class="pricing-number">
              <span>$</span>
              100
            </div>
  
            <h3 class="pricing-title">
              Advanced Plan
            </h3>
  
            <div class="pricing-content">
              <ul class="list">
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li><li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
              </ul>
  
              <div class="text-center mt-4">
                <button class="btn"> Buy the plan </button>
              </div>
          
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="outer-card">
          <div class="outer-overlay"></div>
          <div class="two-card pricing-card">
            <div class="pricing-img">
              <img src="assets/img/icons/p3.png" alt="">
            </div>
            <div class="pricing-number">
              <span>$</span>
              150
            </div>
  
            <h3 class="pricing-title">
              Enterprise Plan
            </h3>
  
            <div class="pricing-content">
              <ul class="list">
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
                <li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li><li class="list-item">
                  <p>
                    Lorem ipsum dolor sit amet.
                  </p>
                </li>
              </ul>
  
              <div class="text-center mt-4">
                <button class="btn"> Buy the plan </button>
              </div>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-5a"></div>
  <div class="block-6a"></div>
  <div class="block-6"></div>
  <div class="donate-circle"></div>
  <div class="donate-block-2"></div>
  <div class="donate-circle-small"></div>
</section>