/* You can add global styles to this file, and also import other style files */
/*-------------------------------------------
--------------     GLOBAL STYLES-------------
---------------------------------------------*/
/*-----------CARDS STYLING---------------------*/
/*---------category box styling------------*/
@import url(f:\projects\onewater-master\node_modules\bootstrap\dist\css\bootstrap.min.css);
.categories {
  position: relative;
}

.categories h2 {
  margin-bottom: 2rem;
}

.categories .category-box, .categories .subcategory-box {
  margin-bottom: 1rem;
  border-bottom: 1px #ccc solid;
  text-align: center;
}

.categories .category-box {
  height: 100px;
}

.categories .category-box img {
  width: 45px;
  margin: auto;
  margin: 0.2rem auto;
}

.categories .category-box h6 {
  font-size: 0.9rem;
}

.categories-card, .subcategories-card {
  -webkit-box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
          box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
  -webkit-animation: ani .5s;
          animation: ani .5s;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.categories-card a, .subcategories-card a {
  cursor: pointer;
}

.subcategories-card {
  display: none;
}

.subcategories-card h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: -0.05rem;
}

.subcategories-card .subcategory-box {
  min-height: 45px;
  padding: 0.5rem;
}

.subcategories-card .subcategory-box p {
  text-transform: capitalize;
  letter-spacing: -0.04rem;
  font-weight: 600;
  margin: 0;
  text-align: left;
}

.subcategories-card .subcategory-box img {
  width: 35px;
}

.back-button {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  background: none;
}

.back-button i {
  font-size: 1.4rem;
  font-weight: bold;
}

@-webkit-keyframes ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@keyframes ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

/*-cards with eave background------------*/
.overlay-2 {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  background-image: url("/assets/img/blue-wave-small.png");
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
}

/*-------double stacked card styling*/
.two-card {
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
          box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 0.4rem;
  border-radius: 7px;
  background: white;
}

.two-card img {
  height: 165px;
  border-radius: 5px;
}

.two-card .blog-caption {
  width: 100%;
  padding: 0.5rem;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.two-card .blog-caption h5 {
  margin: 0.5rem 0;
  font-weight: 700;
}

.blog-meta-data {
  font-size: 0.95rem;
  font-weight: 600;
  display: block;
  margin-top: 1rem;
}

.blog-meta-data .author {
  margin: 0 0 1rem;
  text-align: left;
  font-weight: 700;
  opacity: 0.8;
  font-size: 0.8rem;
}

.blog-meta-data .likes {
  display: inline-block;
  font-weight: 500;
  font-size: 0.8rem;
}

.blog-meta-data .likes i {
  color: red;
  margin-right: 6px;
}

.blog-meta-data .read {
  display: inline-block;
  font-weight: 500;
  font-size: 0.8rem;
  float: right;
}

.outer-card {
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background: #0051c9;
  padding: 0.35rem;
  margin: 2rem auto;
  position: relative;
  overflow: hidden;
  max-width: 300px;
}

.outer-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: url(/assets/img/blue-wave-small.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.two-card {
  position: relative;
  z-index: 1;
}

.cover-photo {
  height: 50vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 31, 204, 0.82)), to(rgba(255, 255, 255, 0.68))), url(https://picsum.photos/1920/720);
  background: linear-gradient(180deg, rgba(0, 31, 204, 0.82) 20%, rgba(255, 255, 255, 0.68) 100%), url(https://picsum.photos/1920/720);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.cover-photo .wave {
  position: absolute;
  background: url(/assets/img/white-wave.png);
  height: 100%;
  bottom: -30%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 520px) {
  .cover-photo {
    height: 30vh;
  }
}

/*-------------------------------------
      -------------LANDING  SECTION-----------
      ----------------------------------------*/
.landing-section {
  position: relative;
  margin-top: -80vh;
  margin-bottom: 50px;
  padding: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.landing-section .banner {
  text-align: left;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-section .landing-text {
  margin-top: 20%;
  z-index: 1;
}

.landing-section .platform-heading {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 1rem;
  color: #fff;
  text-align: left;
  letter-spacing: -0.25rem;
  border: none;
}

.landing-section .platform-heading strong {
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .landing-section .banner {
    margin-top: 10vh;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
  .landing-section .landing-text {
    margin-top: 10%;
  }
  .landing-section .platform-heading {
    font-size: 3.5rem;
    text-align: center;
  }
  .cover-photo {
    height: 25vh;
  }
}

@media screen and (max-height: 420px) {
  .landing-section .landing-text {
    margin-top: 10%;
    text-align: center;
  }
  .landing-section .landing-text h2 {
    font-size: 2.1rem;
  }
  .landing-section .landing-text h2 strong {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 520px) {
  .landing-section {
    min-height: 100vh;
  }
  .landing-section .landing-blogs .carousel-inner {
    margin-top: 5vh;
  }
  .landing-section .banner {
    padding: 1rem;
    width: 100%;
  }
  .landing-section .banner img {
    margin: 2rem auto 0;
  }
  .landing-section .landing-text {
    margin: auto;
    margin-top: 5vh;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 1rem 2rem;
  }
  .landing-section .landing-text h2 {
    font-size: 2.2rem;
    margin: auto;
  }
  .landing-section .landing-text h2 strong {
    font-size: 3.7rem;
  }
  h2 {
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

/*headings styles*/
h1 {
  font-size: 32.84582px;
  font-weight: 700;
  letter-spacing: -0.1rem;
  margin-top: 2.5rem;
}

@media (min-width: 320px) and (max-width: 380px) {
  h1 {
    font-size: calc( 32.84582px + 13.31643 * ( ( 100vw - 320px) / 60 ));
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  h1 {
    font-size: calc( 46.16226px + 0 * ( ( 100vw - 380px) / 100 ));
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: calc( 46.16226px + 2.16954 * ( ( 100vw - 480px) / 288 ));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: calc( 48.3318px + 1.88306 * ( ( 100vw - 768px) / 223 ));
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  h1 {
    font-size: calc( 50.21485px + 0 * ( ( 100vw - 991px) / 209 ));
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 50.21485px;
  }
}

h2 {
  font-size: 22.8096px;
  font-weight: 700;
  letter-spacing: -0.09rem;
  margin-top: 2.5rem;
}

@media (min-width: 320px) and (max-width: 380px) {
  h2 {
    font-size: calc( 22.8096px + 8.20508 * ( ( 100vw - 320px) / 60 ));
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  h2 {
    font-size: calc( 31.01468px + 0 * ( ( 100vw - 380px) / 100 ));
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h2 {
    font-size: calc( 31.01468px + 1.99658 * ( ( 100vw - 480px) / 288 ));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: calc( 33.01127px + 1.28615 * ( ( 100vw - 768px) / 223 ));
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  h2 {
    font-size: calc( 34.29742px + 0 * ( ( 100vw - 991px) / 209 ));
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 34.29742px;
  }
}

h3 {
  font-size: 19.008px;
  letter-spacing: -0.07rem;
  margin-top: 2rem;
}

@media (min-width: 320px) and (max-width: 380px) {
  h3 {
    font-size: calc( 19.008px + 6.41387 * ( ( 100vw - 320px) / 60 ));
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  h3 {
    font-size: calc( 25.42187px + 0 * ( ( 100vw - 380px) / 100 ));
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h3 {
    font-size: calc( 25.42187px + 1.86017 * ( ( 100vw - 480px) / 288 ));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h3 {
    font-size: calc( 27.28204px + 1.06294 * ( ( 100vw - 768px) / 223 ));
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  h3 {
    font-size: calc( 28.34498px + 0 * ( ( 100vw - 991px) / 209 ));
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 28.34498px;
  }
}

h4 {
  font-size: 15.84px;
  letter-spacing: -0.05rem;
  margin-top: 2rem;
}

@media (min-width: 320px) and (max-width: 380px) {
  h4 {
    font-size: calc( 15.84px + 4.9976 * ( ( 100vw - 320px) / 60 ));
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  h4 {
    font-size: calc( 20.8376px + 0 * ( ( 100vw - 380px) / 100 ));
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h4 {
    font-size: calc( 20.8376px + 1.70954 * ( ( 100vw - 480px) / 288 ));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h4 {
    font-size: calc( 22.54714px + 0.87846 * ( ( 100vw - 768px) / 223 ));
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  h4 {
    font-size: calc( 23.4256px + 0 * ( ( 100vw - 991px) / 209 ));
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 23.4256px;
  }
}

h5 {
  font-size: 13.2px;
  letter-spacing: -0.03rem;
  margin-top: 1.5rem;
}

@media (min-width: 320px) and (max-width: 380px) {
  h5 {
    font-size: calc( 13.2px + 3.88 * ( ( 100vw - 320px) / 60 ));
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  h5 {
    font-size: calc( 17.08px + 0 * ( ( 100vw - 380px) / 100 ));
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h5 {
    font-size: calc( 17.08px + 1.554 * ( ( 100vw - 480px) / 288 ));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h5 {
    font-size: calc( 18.634px + 0.726 * ( ( 100vw - 768px) / 223 ));
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  h5 {
    font-size: calc( 19.36px + 0 * ( ( 100vw - 991px) / 209 ));
  }
}

@media (min-width: 1200px) {
  h5 {
    font-size: 19.36px;
  }
}

h6 {
  font-size: 11px;
  letter-spacing: -0.01rem;
}

@media (min-width: 320px) and (max-width: 380px) {
  h6 {
    font-size: calc( 11px + 3 * ( ( 100vw - 320px) / 60 ));
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  h6 {
    font-size: calc( 14px + 0 * ( ( 100vw - 380px) / 100 ));
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  h6 {
    font-size: calc( 14px + 1.4 * ( ( 100vw - 480px) / 288 ));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  h6 {
    font-size: calc( 15.4px + 0.6 * ( ( 100vw - 768px) / 223 ));
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  h6 {
    font-size: calc( 16px + 0 * ( ( 100vw - 991px) / 209 ));
  }
}

@media (min-width: 1200px) {
  h6 {
    font-size: 16px;
  }
}

p {
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-transition: all ease-in-out 0.65s;
  transition: all ease-in-out 0.65s;
  line-height: 1.75;
}

@media (min-width: 320px) and (max-width: 380px) {
  p {
    font-size: calc( 11px + 3 * ( ( 100vw - 320px) / 60 ));
  }
}

@media (min-width: 380px) and (max-width: 480px) {
  p {
    font-size: calc( 14px + 0 * ( ( 100vw - 380px) / 100 ));
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  p {
    font-size: calc( 14px + 1.4 * ( ( 100vw - 480px) / 288 ));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  p {
    font-size: calc( 15.4px + 0.6 * ( ( 100vw - 768px) / 223 ));
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  p {
    font-size: calc( 16px + 0 * ( ( 100vw - 991px) / 209 ));
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 16px;
  }
}

section {
  position: relative;
  padding: 60px 0;
}

a {
  color: #222;
  text-decoration: none;
  outline: none !important;
}

a:hover {
  color: #0C7BE2;
  text-decoration: none !important;
}

ul {
  padding: 0;
}

a:visited,
a:focus {
  outline: none;
}

img {
  width: 100%;
}

.my-container {
  padding: 0 4vw;
}

button {
  margin: auto;
  border: 0;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  color: #777;
  font-weight: 600;
  font-size: 0.9rem;
  width: auto;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 8px 2px #afc1e25c;
          box-shadow: 2px 2px 8px 2px #afc1e25c;
  background: #fff;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  outline: 0 !important;
}

button:hover {
  background-color: dodgerblue;
  -webkit-box-shadow: 2px 2px 8px 2px #8991a05c;
          box-shadow: 2px 2px 8px 2px #8991a05c;
  color: #fff;
}

.card-shadow {
  -webkit-box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
          box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
}

.hr {
  background: #ccc;
  margin: 1rem;
}

.section-head {
  position: relative;
  margin-bottom: 4rem;
  z-index: 10;
}

.section-head h1 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
}

.section-head h1 span {
  color: #275c84;
}

.content p {
  position: relative;
  color: #101010;
  font-weight: 600;
  line-height: 2rem;
  font-size: 1rem;
  z-index: 2;
}

.logout-button {
  position: fixed;
  top: 50px;
  right: 20px;
  z-index: 1000;
  background: #ff6060;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logout-button:hover {
  color: #ff6060;
  background: #fff;
}

.button {
  border: 1px solid transparent;
  outline: none;
  margin-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media screen and (max-width: 768px) {
  .section-head {
    margin: 1.5rem auto 3rem;
    text-align: center;
  }
  section {
    padding: 45px 0;
  }
  .content p {
    width: 90%;
    margin: auto;
    line-height: 1.7rem;
    text-align: justify;
  }
}

@media screen and (max-width: 576px) {
  section {
    padding: 20px 0;
  }
  p {
    text-align: center;
  }
  button::after {
    display: none;
  }
  .section-head {
    margin-bottom: 3rem 0;
  }
  .section-head h1 {
    font-size: 2.4rem;
  }
  .scroll-to-btn {
    display: none;
  }
}

@media all and (max-width: 360px) {
  p, h6 {
    font-size: 11px;
  }
}

@media all and (max-width: 360px) and (min-width: 320px) and (max-width: 380px) {
  p, h6 {
    font-size: calc( 11px + 3 * ( ( 100vw - 320px) / 60 ));
  }
}

@media all and (max-width: 360px) and (min-width: 380px) and (max-width: 480px) {
  p, h6 {
    font-size: calc( 14px + 0 * ( ( 100vw - 380px) / 100 ));
  }
}

@media all and (max-width: 360px) and (min-width: 480px) and (max-width: 768px) {
  p, h6 {
    font-size: calc( 14px + 1.4 * ( ( 100vw - 480px) / 288 ));
  }
}

@media all and (max-width: 360px) and (min-width: 768px) and (max-width: 991px) {
  p, h6 {
    font-size: calc( 15.4px + 0.6 * ( ( 100vw - 768px) / 223 ));
  }
}

@media all and (max-width: 360px) and (min-width: 991px) and (max-width: 1200px) {
  p, h6 {
    font-size: calc( 16px + 0 * ( ( 100vw - 991px) / 209 ));
  }
}

@media all and (max-width: 360px) and (min-width: 1200px) {
  p, h6 {
    font-size: 16px;
  }
}

.btn-loading-content {
  display: none;
}
/*# sourceMappingURL=styles.css.map */