<div class="overlay"></div>
<section class="hero-section d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 order-lg-first ">
        <div class="heading">
          <h1>
            <span style="font-weight: 500;">
              Welcome to <br>
            </span>
            OneWater Academy
          </h1>
          <h3>
            A dynamic platform for current and aspiring OneWater professionals!
          </h3>
          <p>
            The stewards of world’s water supply are forging transformative solutions to address growing needs across the globe. 
            
          </p>
          <!-- <div class="mybtn">
            <a routerLink="/signup"> Join our Community</a>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6 order-first">
        <img
          src="assets/img/landing/hero2.png"
          alt=""
          class="img-fluid hero-img"
        />
      </div>
  </div>
  </div>

  <!-- <div class="shapes circle">  </div>
  <div class="shapes liquid">
  </div>
  <div class="shapes liquid2">
 </div> -->
  <div class="block-1"></div>
  <div class="block-2"></div>
</section>

<section class="platform-section">
  <div class="container">
    <div class="block-3"></div>
    <div class="block-4"></div>
    <div class="heading">
      <div class="row">
        <div class="col-lg-12">
          <h2>
            OneWater Academy provides access to three channels to share, learn, and network with others in the OneWater sector
          </h2>
        </div>
        <div class="col-lg-12 features-section-p">
          <!-- <h1 class="text-center">OneWater Learning Ecosystem</h1> -->
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-3">
              <a routerLink="/learningacademy">
              <div class="feature-card">
                <h3>
                  OneWater Xchange
                </h3>
                <p>
                  Learn and Collaborate
                </p>
              </div>
              </a>
            </div>
          </div>

          <div class="row align-items-center justify-content-center">

            <div class="col-lg-3">
              <a routerLink="/onewaterblog">
              <div class="feature-card">
                <h3>
                  OneWater Blogs
                </h3>
                <p>Keep Up to Date</p>
              </div>
              </a>
            </div>
            <div class="col-lg-4 text-center">
              <img
                src="assets/img/landing/academy-feature-img.png"
                alt=""
                class="drop-img"
              />
            </div>
            <div class="col-lg-3">
              <a routerLink="/onewatertalks">
              <div class="feature-card">
                <h3>
                  OneWater Talks
                </h3>
                <p>
                  Listen and Share
                </p>
              </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="leaders-section">
  <div class="block-8"></div>
  <div class="container">
    <div class="heading">
      <h1>Meet OneWater Leaders.</h1>
      </div>

      <div class="leader-content">
        <div class="row">

          <div class="col-lg-7">
            <p >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eos eum modi quaerat corrupti quidem nesciunt necessitatibus, animi consequatur esse libero itaque deleniti ipsum impedit eaque error, quia asperiores, assumenda nisi rerum sequi quas iste cupiditate aliquam. Numquam, facere architecto?
            </p>

            <p >
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eos eum modi quaerat corrupti quidem nesciunt necessitatibus, animi consequatur esse libero itaque deleniti ipsum impedit eaque error, quia asperiores, assumenda nisi rerum sequi quas iste cupiditate aliquam. Numquam, facere architecto?
            </p>

            <div class="mybtn">
              <a routerLink="/home/leaders">
                Know more
              </a>
              </div>
          </div>
          <div class="col-lg-5">
            <div class="leader-img-bg">
              <img src="assets/img/landing/leader-img.png" alt="">
            </div>
          </div>
        </div>
      </div>

</div>
</section> -->

<!-- <section class="mayor-section">
  <div class="container">
    <div class="heading">
      <h1>From the desk of the mayor.</h1>
      <div class="row align-items-center">
        <div class="col-lg-7">
          <blockquote>
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
            </p>

          </blockquote>

          <div class="mybtn d-flex justify-content-around">
            <a routerLink="/home/mayor-page">
              Know more
            </a>

            <a routerLink="/onewaterblog/mayor">
              Register as Mayor
            </a>
          </div>
        </div>
        <div class="col-lg-5">
          <img src="assets/img/landing/mayor-img.png" alt="" class="img">
        </div>

      </div>

    </div>
  </div>
</section>

<section class="cro-section">
  <div class="container">
    <div class="heading">
      <h1>From the desk of the CRO.</h1>
      <div class="row align-items-center">
        <div class="col-lg-5">
            <img src="assets/img/landing/cro-img.png" alt="" >
        </div>
        <div class="col-lg-7">
          <blockquote>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
            </p>
          </blockquote>

          <div class="mybtn d-flex justify-content-around">
            <a routerLink="/home/cro-page">
              Know more
            </a>
            <a routerLink="/onewaterblog/cro">
              Register as CRO
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->
<section class="platform-grid">
  <div class="container">


  <div class="platforms">
    <div class="block-7"></div>

    <div class="container">
      <div class="platform">
        <div class="row align-items-center">
         
          <div class="col-lg-6 order-lg-first">
            
            <h2>
              OneWater Xchange
            </h2>
            <div class="about-platform">
              <ul>
                <li>
                  <p>
                    Access a state-of-the art next generation learning platform that accelerates and advances knowledge sharing and capacity building in the OneWater sector.
                  </p>
                </li>
                <li>
                  <p>
                    Reduce skills gaps, build succession plans, and provide artificial intelligence-based social learning.
                  </p>
                </li>
                
                <li>
                  <p>
                    Participate in communities of practice that are timely, relevant, and led by subject matter experts around the globe.
                  </p>
                </li>
              </ul>

              <div class="mybtn">
                <div class="row">
                  <div class="col-lg-6">
                    <a routerLink="/learningacademy" class="d-block">
                      Go to OneWater Xchange
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-6 order-first">
            <div class="platform-img">
              <img src="assets/img/landing/academy.png" alt="" />
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="platform">
        <div class="row align-items-center">
          <div class="col-lg-6 order-first">
            <div class="platform-img">
              <img src="assets/img/landing/mentor.png" alt="" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-first">
            <h2>
              OneWater Xchange
            </h2>
            <div class="about-platform">

<ul>
  <li>
    <p>
      Build a culture of inclusion, support and development that increases employee engagement.
    </p>
  </li>
  <li>
    <p>
      Foster an environment of peer-to-peer learning while building a water workforce of the future
    </p>
  </li>
  <li>
    <p>
      Connect with and nurture new water professionals
    </p>
  </li>
  </ul>
              <div class="mybtn">
                <a routerLink="/home/owx">
                  Go to OneWater Xchange
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="platform">
        <div class="row align-items-center">
          <div class="col-lg-6 order-first">
            <div class="platform-img">
              <img src="assets/img/landing/plat-blog.png" alt="" />
            </div>
          </div>
          <div class="col-lg-6 order-lg-first">
            <h2>
              OneWater Blogs
            </h2>
            <div class="about-platform">
             <ul><li>
               <p>
                Dive into an open platform for everyone to read and contribute on cutting-edge conversations, innovation, and ideas in the OneWater sector.
               </p>
             </li>
            <li>
              <p>
                Trending blogs will be expanded into courses, webinars, and discussions to support greater knowledge development.
              </p>
            </li></ul>
              <div class="mybtn">
                <div class="row">
                  <div class="col-lg-6">
                    <a routerLink="/onewaterblog" class="d-block">
                      Go to OneWater Blogs
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="platform">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-first">
            <h2>
               OneWater Talks  <!-- <span class="small-text">One Water One World</span> -->
            </h2>

            <div class="about-platform">
              <ul>
                <li>
                  <p>
                    Enter a showcase of speakers presenting on important and innovative ideas.
                  </p>
                </li>
                <li>
                  <p>
                    Watch a curated library of videos from stakeholders related to the OneWater sector.
                  </p>
                </li>
              </ul>
              <div class="mybtn">
                <div class="row">
                  <div class="col-lg-6">
                    <a [routerLink]="['/onewatertalks']">
                      Go to OneWater Talks
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-lg-6 order-first">
            <div class="platform-img">
              <img src="assets/img/landing/plat-video.png" alt="" />
            </div>
          </div>
        </div>
      </div>

  

      <!-- <div class="platform">
          <div class="row">
              <div class="col-lg-6">
                  <h2>
                      OneWater Jobs
                     </div>
                     <div class="about-platform">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis, voluptates temporibus quos alias itaque eum nostrum eveniet, eaque, maiores voluptatem accusantium aut officiis asperiores qui facere dolores et assumenda? Sed asperiores nesciunt sequi autem exercitationem deleniti id nam, repudiandae error, atque ullam, impedit mollitia repellat adipisci reprehenderit sit nobis.
                        </p>
                        <div class="mybtn">
                            <a [routerLink]="['/onewaterjobs']">
                              Go to OneWater Jobs
                            </a>
                        </div>
                      </div>
              </div>
            <div class="col-lg-6">
            <div class="platform-img">
              <img src="assets/img/landing/plat-job.png" alt="">
            </div>
            </div>

          </div>

        </div> -->
    </div>
  </div>
</div>
</section>

<section class="become-member">
  <div class="block-fb2"></div>
  <h1>
    Contribute to the OneWater Community
  </h1>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <img src="assets/img/ins-login.png" alt="" class="img">
        <h5>
         
      Share your knowledge <br> and expertise by becoming a OneWater Instructor for  OneWater Xchange

        </h5>
        <div class="mybtn">
          <a routerLink="/instructor-form" class="d-block">
            Become a OneWater Instructor
          </a>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <img src="assets/img/author-login.png" alt="" class="img">
        <h5>
           <h5 class="text-white mb-2">
            Freely share your ideas, successful projects, and innovation by becoming a OneWater Blogs Author for OneWater Blogs
        </h5>
        </h5>
        <div class="mybtn">
          <a [routerLink]="['/onewaterblog/author',toRender]" class="d-block">
            Become a OneWater Blogs Author
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-section">
  <!-- <div class="block-fa1"></div>  -->
  <div class="block-fa2"></div>
  <!-- <div class="block-fb1"></div>  -->

  <h1>
    OneWater Academy’s Value Proposition
  </h1>
  <div class="container">
    <div class="features">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="feature-block">
            <div class="feature-icon">
              <i data-feather="clock"></i>
            </div>
            <div class="feature-name">
              Convenience and <br> Flexibility
            </div>
            <div class="feature-desc">
              <p>
                OneWater Academy has taken learning beyond the classroom by allowing you to learn at your own pace through our dynamic, social, and collaborative learning platform.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feature-block">
            <div class="feature-icon">
              <i data-feather="eye"></i>
            </div>
            <div class="feature-name">
              Visibility and <br> Presence
            </div>
            <div class="feature-desc">
              <p>
                OneWater Academy is the perfect platform for you to establish yourself as the subject matter expert while engaging and growing with the OneWater community.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="feature-block">
            <div class="feature-icon">
              <i data-feather="thumbs-up"></i>
            </div>
            <div class="feature-name">
              Competitive <br> Advantage
            </div>
            <div class="feature-desc">
              <p>
                OneWater Academy gives you the ability to upskill and professionalize while exploring growth opportunities through networking with OneWater professionals across the globe.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <img src="assets/img/white-wave.webp" alt="" class="white-wave"> -->
<section class="partners-section">
  <h1> Partners</h1>
  <div class="partners">
    <div class="container">

      <h3 class="partner-heading">Founding Partners</h3>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://resilientutilities.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/RUC.jpg" alt="" class="short-logo"/>
          </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.carollo.com/home" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/Carollo.png" alt="" />
          </div>
          </div>
        </a>
        </div>

       

      </div>
    </div>
  </div>
  <div class="partners">
    <div class="container">
      <h3 class="partner-heading">Premier Partners</h3>
      <div class="row justify-content-center">


        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.xylem.com/en-in/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="assets/img/partners/xylem.png" alt="" />
          </div>
          </div>
        </a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.arup.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/arup.jpg" alt="" />
          </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container">
      <h3 class="partner-heading"> Collaborating Partners</h3>
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.osisoft.com/" target="_blank">
          <div class="outer-card">
          <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/osi.png" alt="" class="short-logo" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://nova-consulting.com/" target="_blank"> 
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4 class="text-center">
          <img src="assets/img/partners/NOVA.png" alt=""/>
         </h4>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://programcontrolsinc.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/pci.png" alt="" class="short-logo" />
          </div>
          </div>
        </a>
        </div>

      </div>
    </div>
  </div>


  <div class="partners">
    <div class="container">
      <h3 class="partner-heading">Subscribers</h3>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://theh2otower.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/gwin.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>
      </div>
    </div>
  </div>


  <div class="partners">
    <div class="container">
      <h3 class="partner-heading">Supporters</h3>
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://gca.org/home" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/gcn.png" alt="" class="tiny-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.resilienceshift.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/trs.png" alt=""  style="width: 100%;max-height: 75px;"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://bulletin.miami.edu/graduate-academic-programs/engineering/civil-architectural-environmental-engineering/construction-management-ms/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/coe.jpg" alt="" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://engagement.fiu.edu/" target="_blank" >
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4>
          <img src="assets/img/partners/fiu.png" alt="" class="short-logo" />
         </h4>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.miamichamber.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
         <h4>
          <img src="assets/img/partners/gmcc.png" alt="" class="short-logo" />
         </h4>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://www.wrc.org.za/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/wrc.jpg" alt="" class="tiny-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://evergladesfoundation.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/everglades.jpg" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.cleoinstitute.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/cleo.jpg" alt="" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.icex.es/icex/es/index.html#" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/icex.png" alt=""  />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.netherlandsandyou.nl/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/NL.png" alt="" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <h4>
            <img src="assets/img/partners/canadian.png" alt="" class="short-logo" />
          </h4>
          </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.resilienth2opartners.com/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/rh2o.png" alt="" />
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.stimson.org/project/acre/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/acrelogo.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://globalwaterworks.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/gww.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="http://waterrisinginstitute.org/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/wr.png" alt="" class="tiny-logo"/>
          </div>
          </div>
        </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6  text-center">
          <a href="https://www.swim.cee.vt.edu/" target="_blank">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
          <img src="assets/img/partners/swim.png" alt="" class="short-logo"/>
          </div>
          </div>
        </a>
        </div>

       

      </div>
    
       
    </div>
  </div>
</section>


<!-- <section class="donation-section">
  <div class="donate-block"></div>
  <div class="donate-block-2"></div>
  <div class="donate-circle"></div>
  <div class="donate-circle-small"></div>
  <div class="container">
    <div class="heading">
      <h1>
        Donate to OneWater
      </h1>
    </div>
    <h4>
      Your donation can help us to give OneWater for one world.
    </h4>
    <div class="donate-img">
      <img src="assets/img/landing/donate.png" alt="" />
    </div>
    <div class="mybtn">
      <a [routerLink]="['/home/donate']">
        Donate
      </a>
    </div>
  </div>
</section> -->

<!-- <section class="call-to-action-section">
  <div class="block-5"></div>
  <div class="block-5a"></div>
  <div class="block-6"></div>
  <div class="block-6a"></div>
  <div class="container">
    <img src="assets/img/landing/platform.png" alt="" class="cta-img" />

    <h1>
      Lorem ipsum dolor sit, amet consectetur adipisicing.
      <br />
      Get started now.
    </h1>
    <div class="mybtn">
      <a [routerLink]="['/signup']">
        Signup
      </a>
    </div>
  </div>
</section> -->
<!--
<div class="newsletter-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 news-img-wrap">
        <img src="assets/img/landing/newsletter.png" alt="" class="news-img" />
      </div>
      <div class="col-lg-6">
        <h2>
          Subscribe to our newsletter
        </h2>
        <p>
          Stay updated with all events and program of OneWater.
          <br />
          Subscribe to the newsletter now.
        </p>
        <div class="mybtn">
          <a (click)="modal.openModal('#subscribeModal')">
            Subscribe
          </a>
        </div>
      </div>
    </div>
  </div>


</div> -->

<!--modal to show if user is not logged in-->
<div class="modal fade" id="blogModal" #blogModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(blogModal)"
        >
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/modals/blog-modal.png
        "
          alt=""
        />
        <h2>Please login to read the blog.</h2>
      </div>
     
        <a
          routerLink="/login-role"
          class="login-btn"
        >
          Login now
        </a>
      <button  (click)="modal.closeModal(blogModal)"  class="text-center" style="margin: 0rem auto 1rem;padding:0.5rem;border: none;background-color: transparent;">
        <a routerLink="/signup-role"> New Here? Signup Now.</a>
      </button>

    </div>
  </div>
</div>

<!--modal for instructor form -->
<!-- <div class="modal fade" id="instructorModal" #instructorModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(instructorModal)"
        >
          &times;
        </button>
      </div>

      <div class="modal-body p-4">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/ins-login.png" alt=""
        />
        <h2>Become a OneWater Instructor</h2>
        <form [formGroup]="form" (submit)="register()">



<div class="row">
  <div class="col-md-6">
    <input
    name="name"
    formControlName="firstname"
    class="vldform__textbox"
    type="text"
    placeholder="First Name"
    required
  />
  <p *ngIf="submitted && form.get('firstname').invalid">
    Please enter your First Name!
  </p>
  </div>
  <div class="col-md-6">
    <input
    name="lastname"
    formControlName="lastname"
    class="vldform__textbox"
    type="text"
    placeholder="Last Name"
    required
  />
  <p *ngIf="submitted && form.get('lastname').invalid">
    Please enter your Last Name!
  </p>
  </div>
</div>

<input
name="course"
formControlName="organization"
class="vldform__textbox"
type="text"
placeholder="Organization Name"
/>
<p *ngIf="submitted && form.get('organization').invalid">
  Please enter your Organization!
</p>
<input
name="email"
formControlName="email"
class="vldform__textbox"
type="email"
placeholder="Enter your email"
required
/>
<div *ngIf="submitted && form.get('email').invalid">
  <p *ngIf="form.get('email').errors.required">
    Please enter your email!
  </p>
  <p *ngIf="form.get('email').errors.email">
    Please enter a valid email!
  </p>
</div>

          <input
          name="phone"
          formControlName="mobile_no"
          class="vldform__textbox"
          type="number"
          placeholder="Phone Number: (Optional)"
        />

        <input formControlName="proposed_course_topic" type="text" class="vldform__textbox" placeholder="Proposed Course Topic">
        <p *ngIf="submitted && form.get('proposed_course_topic').invalid">
          Please enter your Proposed Course Topic!
        </p>
        <h6>Type of Course</h6>
        <input formControlName="course_type" value="Webinar" type="radio" id="f-option">
    <label for="f-option">Webinar</label>
    <input formControlName="course_type" value="Online Course" type="radio" id="s-option">
    <label for="s-option">   Online Course</label>
      <p *ngIf="submitted && form.get('course_type').invalid">
        Please select your Course Type!
      </p>

        <input formControlName="proposed_course_title" type="text" class="vldform__textbox" placeholder="Proposed Course Title">
        <p *ngIf="submitted && form.get('proposed_course_title').invalid">
          Please enter your Proposed Course Title!
        </p>
        <textarea formControlName="proposed_desc" name="" id="" cols="30" rows="5" class="vldform__textbox" placeholder="Proposed Course Description (100 Words)"></textarea>
        <p *ngIf="submitted && form.get('proposed_desc').invalid">
          Please enter your Proposed Desc!
        </p>
          <button
            type="submit"
            class="btn btn-default"
            (click)="modal.showBtnLoader()"
          >
            <span class="btn-loading-content">
              <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
            </span>
            <span class="btn-default-content">
              Submit
            </span>
          </button>
        </form>
      </div>


    </div>
  </div>
</div> -->
