<div class="overlay"></div>

<section id="login">
  <!-- <div class="wave-bg"></div> -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 left-content">
        <h2 *ngIf="!showText">
          OneWater Blogs <br>
          <strong>Author</strong>
        </h2>
         <h2 *ngIf="showText">
          Become a OneWater Blogs
           <strong>Author</strong>         
         </h2> 
        <img src="assets/img/author-login.png" alt="" class="login-img" />
      </div>
      <div class="col-lg-6">
        <div class="form-box">
          <!--------------LOGIN FORM------------------->
          <form
            class="vldform vldauth"
            (submit)="login()"
            [formGroup]="loginuser"
          >
            <h1>Login</h1>

            <input
              formControlName="email"
              class="vldform__textbox"
              type="text"
              name="email"
              placeholder="Email"
              required
            />
           
            <div *ngIf="loginsubmitted && loginuser.get('email').invalid">
              <p *ngIf="loginuser.get('email').errors.required">
                Please enter your email!
              </p>
              <p *ngIf="loginuser.get('email').errors.email">
                Please enter a valid email!
              </p>
            </div>

            <input
              formControlName="password"
              class="vldform__textbox"
              type="password"
              name="pass"
              placeholder="Password"
              required
            />
            <p

              *ngIf="loginsubmitted && loginuser.get('password').invalid"
            >
            Please enter your password!
            </p>

            <a class="vldform__recoverypassword" (click)="showrecoveryform()"
              >Forgot password?</a
            >

            <button
              class="vldform__button"
              type="submit"
              (click)="modal.showBtnLoader()"
            >
              <span class="btn-loading-content">
                <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
              </span>
              <span class="btn-default-content">
                Login
              </span>
            </button>
          </form>
          <p class="vldform__signup" id="login-text" style="
          color: #777;
          font-size: 1rem;
          font-weight: 600;">
            New here?
            <a class="vldform__signuplink" routerLink="/onewaterblog/author/signup" style="color: #000;">Sign Up!</a>
          </p>

          <!--------------SIGNUP FORM------------------->
          <form class="vldform vldreg" (submit)="register()" [formGroup]="user">
            <h1>Sign Up</h1>
            <input
              formControlName="author_name"
              class="vldform__textbox"
              type="text"
              name="name"
              placeholder="Author Name"
              required
            />
            <p
              *ngIf="registersubmitted && user.get('author_name').invalid"
            >
              Name is required!
            </p>

            <input
              formControlName="author_email"
              class="vldform__textbox"
              type="email"
              name="email"
              placeholder="Author Email"
              required
            />
            
            <div *ngIf="registersubmitted && user.get('author_email').invalid">
              <p *ngIf="user.get('author_email').errors.required">
                Please enter your email!
              </p>
              <p *ngIf="user.get('author_email').errors.email">
                Please enter a valid email!
              </p>
            </div>

            <div class="row">
              <div class="col-md-6">
                <input
                  formControlName="password"
                  class="vldform__textbox halfwidth"
                  type="password"
                  name="pass"
                  placeholder="Password"
                  required
                />
                <p

                  *ngIf="registersubmitted && user.get('password').invalid"
                >
                  Password must have minimum 6 characters!
                </p>
              </div>
              <div class="col-md-6">
                <input
                  formControlName="cpassword"
                  class="vldform__textbox halfwidth"
                  type="password"
                  name="pass2"
                  placeholder="Confirm Password"
                  required
                />
                <p

                  *ngIf="registersubmitted && user.get('cpassword').invalid"
                >
                 Confirm your password!
                </p>
              </div>
            </div>

            <button
              class="vldform__button"
              type="submit"
              (click)="modal.showBtnLoader()"
            >
              <span class="btn-loading-content">
                <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
              </span>
              <span class="btn-default-content">
                Sign up
              </span>
            </button>
          </form>
          <p class="vldform__signup" id="signup-text" style="
           color: #777;
          font-size: 1rem;
          font-weight: 600;">
            Already a OneWater Blogs Author? 
            <a (click)="showauthform()" style="color: #000;">Login</a>
          </p>


          <!--------------PASSWORD RECOVERY FORM------------------->
          <form class="vldform vldrecpass" [formGroup]="resetpassform" (submit)="resetpassword()">
            <h1>Reset Password</h1>
            <input
              class="vldform__textbox"
              type="email"
              name="email"
              placeholder="Email"
              required
              formControlName="email"
            />
           
            <div *ngIf="resetpasssubmitted && resetpassform.get('email').invalid">
              <p *ngIf="resetpassform.get('email').errors.required">
                Please enter your email!
              </p>
              <p *ngIf="resetpassform.get('email').errors.email">
                Please enter a valid email!
              </p>
            </div>
            <button
              class="vldform__button"
              type="submit"
              (click)="modal.showBtnLoader()"
            >
              <span class="btn-loading-content">
                <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
              </span>
              <span class="btn-default-content">
                Submit
              </span>
            </button>
            <br /><br />
            <a (click)="showauthform()">Back to login</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------MODALS------------>

<!-- First Signup Modal -->
<div class="modal modal-animate" id="signupModal" role="dialog" #signupModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(signupModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/mail.png
       "
          alt=""
        />
        <h2>
          We’ve sent you a message. Please check your inbox and verify your email address.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(signupModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!-- Login before email verification Modal -->
<div class="modal modal-animate" id="loginModal" role="dialog" #loginModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(loginModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/modals/verify-mail.jpg
         "
          alt=""
        />
        <h2>
          Please verify your email address to login.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(loginModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--profile pending for approval-->
<div class="modal modal-animate" id="pendingModal" role="dialog" #pendingModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(pendingModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/pending-profile.png" alt="" />
        <h2>
          Your profile has been sent to admin for approval. Please wait for the
          confirmation.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(pendingModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--wrong credentials in login-->
<div class="modal modal-animate" id="invalidModal" role="dialog" #invalidModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(invalidModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/invalid-details.png" alt="" />
        <h2>
         
You have entered an incorrect username or password. Please try again.

        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(invalidModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--reset password doesn't exist modal-->
<div class="modal modal-animate" id="resetMailExist" role="dialog" #resetMailExist>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(resetMailExist)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="" >
        </div>
        <img src="assets/img/modals/mail-not-exist.svg" style="width: 35%;" alt="" />
        <h2>
          The entered email does not exist on OneWater Academy.
          <br>
          Please try again with a different email or sign up to become a OneWater Blogs Author!
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(resetMailExist)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--forgot password modal-->
<div class="modal modal-animate" id="forgotpassModal" role="dialog" #forgotpassModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(forgotpassModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/pending-profile.png" alt="" />
        <h2>
          Please check your email to reset your password!
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        (click)="passwordResetSuccess()"
      >
        OK
      </button>
    </div>
  </div>
</div>