@import '../../../commonstyles/form-styles.scss';
@import '../../../commonstyles/modal-styles.scss';

#login{
    min-height: 100vh;
    //padding: 12vh 0;
   background: url(/assets/img/author-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
 background-position: bottom right;
    position: relative;
    display: flex;
    align-items: center;

    h2{
      text-align: left;
      font-size: 3rem;
      font-weight: 500;
      color: #000;
      letter-spacing: -2.5px;
      border: none;
      margin-top: 0;
      padding:  0;
      strong{
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: -2px;
      }
    }
  }

  .left-content{
    p{
      margin: 1rem 0;
    }
  }
  
  .form-box{
      //margin-top: 10vh;
    text-align: center;
    position: relative;
    z-index: 2;

    
   

    p{
      margin: 1rem auto;

      a{
        font-weight: 700;
        cursor: pointer;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }

  @media all and (max-width:1091px){
    #login{
      background-size: cover;
    }
  }

 @media all and (max-width:480px){
  #login{
    padding: 10vh 0 5vh !important;
    h2{
      margin-top: 5vh;
    }
  }
 }

